<div id="p0" style="display:none">
<h1>Contents</h1>
<p><a href="#" data-page="2">Login</a><br>
<a href="#" data-page="3">Home page</a></p>
<p><a href="#" data-page="4">Search</a><br>
<a href="#" data-page="5">Browse</a><br>
<a href="#" data-page="6">Recent</a><br>
<a href="#" data-page="7">Creating new content</a></p>
<p><a href="#" data-page="8">Search results</a></p>
<p><a href="#" data-page="9">Using the editor</a><br>
<a href="#" data-page="10">Deleting an item</a><br>
<a href="#" data-page="11">Creating news items</a><br>
<a href="#" data-page="12">Creating intranet pages</a></p>
<p><a href="#" data-page="13">Managing versions of files</a></p>
<p><a href="#" data-page="14">Contacts directory</a><br>
<a href="#" data-page="15">Contact relationship management</a><br>
<a href="#" data-page="16">Contact notes</a></p>
<p><a href="#" data-page="17">Edit Taxonomy</a></p>
<p><a href="#" data-page="18">Latest updates</a></p>
<p><a href="#" data-page="19">Tray</a><br>
<a href="#" data-page="20">Your account</a><br>
<a href="#" data-page="21">Tools</a></p>
<p><a href="#" data-page="22">Manage tokens</a></p>
<p><a href="#" data-page="23">Billing and usage</a></p>
<p><a href="#" data-page="1">Glossary</a></p>
</div>

<div id="p1" style="display:none">
<h1>Glossary</h1>
<p><strong>Attribute</strong>: used to describe specific elements of a type of object ie a document would have the following attributes: author, title, subject, date.</p>
<p><strong>Browsing</strong>: as an alternative to searching by entering search terms into a search box, you can browse information by scanning a list of contents. Different browsing lists can be created for different organisations.</p>
<p><strong>Controlled field</strong>: an indexing field which can only be completed using entries in a controlled list, as opposed to a field in which you can enter any text.</p>
<p><strong>Embedded search</strong>: a permanently and continuously running search created in a webpage.</p>
<p><strong>Field</strong>: part of an object which includes an attribute, qualifier and value.</p>
<p><strong>Hierarchical subject index</strong>: an index of subject terms arranged hierarchically, thereby showing which are narrower or broader terms of other terms.</p>
<p><strong>HTML</strong>: Hyper-text markup language, used to create webpages.</p>
<p><strong>Latest updates</strong>: a function to gather recent items of interest to the user viewable either on a user&#8217;s latest updates webpage or as an email bulletin.</p>
<p><strong>Navigation</strong>: links on the left of each webpage enabling users to move between webpages.</p>
<p><strong>Object</strong>: an entry in the system which records a description of an entity and sometimes the entity itself as an attached file, or text. Also referred to as an <em>item</em>.</p>
<p><strong>Pop-up</strong>: a new window automatically opening in a web browser, you will need pop-ups enabled to use some of the features in ONEIS, instructions for enabling pop-ups are different for each web browser.</p>
<p><strong>Qualifier</strong>: a term added to an attribute to clarify a particular instance of that attribute ie sub-title is a qualifier for title.</p>
<p><strong>Relevancy</strong>: search results are listed by relevancy when those items at the top of the list are considered more relevant to the search terms entered.</p>
<p><strong>Results</strong>: the results of a search are the items displayed which match the search terms entered.</p>
<p><strong>Search illustrator</strong>: a feature in ONEIS which displays an illustration of how your search terms will be connected together.</p>
<p><strong>Search operators</strong>: words added to a search by the user to specify how their search terms should be connected. The commonly used search operators are: AND, OR, NOT.</p>
<p><strong>Subject</strong>: the subject of an item is a description of the subject covered by the item. Subject description terms are normally chosen from a pre-compiled controlled list.</p>
<p><strong>Tagging</strong>: assigning description terms to an object from a pre-compiled list to improve search results and enable the object to be found when browsing all objects tagged with a certain term.</p>
<p><strong>Taxonomy</strong>: a subject list systematically arranged to show the relationship between terms, including their hiearchical relationship. A taxonomy would be used in a controlled field to control the terms used to describe objects.</p>
<p><strong>Tray</strong>: a holding place within ONEIS into which you can add items which you use later.</p>
<p><strong>Type</strong>: used to distinguish different kinds of object ie a document, book or person are all types of object.</p>
</div>

<div id="p2" style="display:none">
<h1>Login</h1>
<p>To use ONEIS with your personal account, click on the &#8220;Log in&#8221; link and enter your email address and password.</p>
<p>If your username and password are not recognised make sure you are typing them in correctly and check your Caps lock isn&#8217;t on. For a password reminder use the &#8220;Forgotten your password?&#8221; link on the login page.</p>
<p>When your ONEIS account was created, you will have been sent a link to set your password. Your password must contain at least eight characters,  including at least one letter and one number.</p>
<p>To avoid having to type in your username and password each time you login, check the &#8220;In future, automatically log in on this computer&#8221; box. For security, <strong>do not check this box</strong> on public terminals or if others use your computer, as anyone else using this computer will be able to use your ONEIS account without having to enter the password.</p>
</div>

<div id="p3" style="display:none">
<h1>Home page</h1>
<h2>Noticeboard</h2>
<p>The noticeboard displays the most recent ten notices.</p>
<p>To add a new notice:</p>
<ul>
	<li>scroll to the bottom of the noticeboard</li>
	<li>choose <em>Add item</em></li>
	<li>enter the details</li>
	<li><em>Save</em>.</li>
</ul>
<p>To view more details about a notice click on &#8230; at the end of the title.</p>
<h2>Checked out files</h2>
<p>Any checked out files will display on the homepage.</p>
<h2>Quick links</h2>
<p>To add a quick link:</p>
<ul>
	<li>choose <em>Add link</em> at the end of the list of quick links</li>
	<li>enter the details</li>
	<li><em>Save</em>.</li>
</ul>
<p>To view a quick link, click on the name of the link. To view more details about the quick link, click on the bullet point for each link.</p>
</div>

<div id="p4" style="display:none">
<h1>Search</h1>
<h2>Quick search</h2>
<p>Enter your search terms into the quick search box and hit the return key or click on SEARCH.</p>
<p>For even quicker searching, use the <%= @browser_accesskey %> + F keyboard shortcut to select the quick search box.</p>
<h2>Search operators</h2>
<p>Use</p>
<p>AND + <br>
OR | <br>
NOT !</p>
<p>to connect your search terms:</p>
<p>AND is used to narrow your search, for example <em>garden AND shed</em> retrieves all items containing both <em>garden</em> and <em>shed</em>. Using AND will give less results as you are being more specific about the terms that must appear in your search results. AND is added automatically between search results so there is normally no need to add it yourself. The shortcut for AND is +</p>
<p>OR is used to broaden your search, for example <em>garden OR shed</em> retrieves all items containing <em>garden</em> and all items containing <em>shed</em>, but both terms will not necessarily appear in all the items retrieved. You are being less specific about the terms that must appear in your search results, therefore you will retrieve more results. The shortcut for OR is |</p>
<p>NOT is used to remove results from your search which mention the term you don&#8217;t wish to retrieve. For example, <em>garden NOT shed</em> retrieves all items containing <em>garden</em> but will not display any items that contain <em>shed</em>, even those that also mention garden. NOT should be used sparingly and with caution, as you may unintentionally cut out potentially relevant results. The shortcut for NOT is !</p>
<p>You can combine AND, OR and NOT operators to form more complex queries. The search illustrator, which appears underneath the search box, will explain the search as you type it.</p>
<h2>Stemming, truncation and plurals</h2>
<p>ONEIS uses automatic stemming so you don&#8217;t have to worry about the different endings of words in your queries. For example <em>stopping</em> will be treated the same as <em>stop</em>, so a search for <em>stop</em> will find <em>stopping</em> and you can use either in your query.</p>
<p>Stemming also handles singular and plural forms of common words. For instance <em>meetings</em> retrieves <em>meeting</em> and vice versa; and <em>lady</em> retrieves <em>ladies</em>.</p>
<p>However, the singular and plural version of words with irregular plurals are <strong>not</strong> stemmed as equivalents. For instance <em>women</em> does not retrieve <em>woman</em>.</p>
<p>You can use * to search for truncated words ie <em>survi*</em> will find <em>survivor, survival, survive</em>.</p>
<h2>Phrase searching</h2>
<p>To search for a phrase (multiple words next to each other in the same order) enter the phrase within double speech marks ie <em>&#8220;your phrase&#8221;</em></p>
<p>This retrieves items where the words appear next to each other in the same order you specified.</p>
<p>The usual stemming treatment will apply to phrases in double speech marks. For example, a search for <em>&#8220;invoicing template&#8221;</em> will find items which contain the phrase <em>invoice template</em>.</p>
<p>To search for an exact phrase, where stemming does not apply, use single speech marks &#8216;&#8230;&#8217;</p>
<h2>Proximity searching</h2>
<p>To search for a term within a number of words of another term use:</p>
<blockquote>
<p><em>term _10 other</em></p>
</blockquote>
<p>the search string above will retrieve all items where the word <em>term</em> is found within ten words of the word <em>other</em>. You can specify any number.</p>
<h2>Search subsets</h2>
<p>You can restrict your search using search subsets via the SEARCH page. Underneath the search box choose your search subset from the drop down menu, <em>Search in</em>. Choosing from this drop down menu will narrow your search to just searching the sections included in the chosen search subset. Your Administrator can edit and add search subsets.</p>
<h2>Field search</h2>
<p>For accurate lookup, click <em>Fields &amp; options</em>, and enter your query in the fields. An item will match the query if it has all the fields you enter.</p>
<p>Your administrator can change the fields to match your requirements.</p>
<p>You can also search for terms in specific fields using the main search box. Enter the field name followed by a : then your search terms, for example:</p>
<blockquote>
<p><em>author:Austen</em><br>
<em>title:Hamlet</em><br>
<em>subject:coffee</em><br>
<em>type:document</em></p>
</blockquote>
<p>You can search for fields with qualifiers using field/qualifier:</p>
<p>For example:</p>
<blockquote>
<p><em>title/alternative:by means of natural selection</em></p>
</blockquote>
<p>You can&#8217;t currently search by submitter, submitted date (unless it was entered into the date field) or format of uploaded files (ie excel, word.)</p>
<h2>Date and time search</h2>
<p>You can search the date and time fields as follows:</p>
<blockquote>
<p><em>date: 2008-01-30</em><br>
for items with this specific date in the date field</p>
</blockquote>
<blockquote>
<p><em>date: 2008-01-01 .. 2008-12-31</em><br>
for items with dates between this range in the date field</p>
</blockquote>
<blockquote>
<p><em>date: .. 2008-03-31</em><br>
for items with dates before 31 March 2008 in the date field</p>
</blockquote>
<blockquote>
<p><em>date: 2008-04-01 ..</em><br>
for items with dates after 1 April 2008 in the date field</p>
</blockquote>
<p>If you want include the time in the query, use syntax like</p>
<blockquote>
<p><em>2008-04-01T12.30</em></p>
</blockquote>
<p>This must include the <em>T</em> and the <em>.</em> to be unambiguously recognised as a date and time.</p>
<h2>Complex search strings</h2>
<p>Use parenthesis to group concepts within complex search strings, to ensure they are treated as you expect by the search. For instance:</p>
<blockquote>
<p><em>type:presentation and (author:howson or author:johnson)</em></p>
</blockquote>
<h2>Search illustrator</h2>
<p>The search illustrator appears when you enter a more complex search. It shows you how the system will search for the terms you&#8217;ve entered.</p>
<p>For instance a search for:</p>
<blockquote>
<p><em>bowl and cat or dog</em></p>
</blockquote>
<p>shows the search treated as:</p>
<blockquote>
<p><em>bowl and (cat or dog)</em></p>
</blockquote>
<p>So your search results will contain all items that mention <em>bowl</em> plus either <em>cat</em> or <em>dog</em>.</p>
<h2>Full text document search</h2>
<p>The search includes the full text of all documents uploaded in all major formats (Office, PDF, OpenOffice, iWork &#8217;09, RTF, HTML and plain text.) It does not search the file name of the uploaded file.</p>
<h2>Links to and from a sub-query</h2>
<p>&gt;&gt; finds all items linked to any of the items retrieved by a query. For instance:</p>
<blockquote>
<p><em>John &gt;works-for&gt; type:client</em></p>
</blockquote>
<p>finds all the people named John who work for a client (or more precisely, all items which contain the word &#8216;John&#8217; which are linked to client records.)</p>
<p>&lt;&lt; finds all items which are linked from any of the items retrieved by a query. For instance:</p>
<blockquote>
<p><em>&lt;author&lt; type:book</em></p>
</blockquote>
<p>finds all the people who are linked from books in the author field. These are all the people who have written a book.</p>
<p>Both &gt;&gt; and &lt;&lt; can be used without a field name to find links in any field.</p>
<h4>Further help</h4>
<p><a href="#" data-page="8">Search results</a><br>
<a href="#" data-page="5">Browse</a></p>
</div>

<div id="p5" style="display:none">
<h1>Browse</h1>
<p>Using the Browse tab you can browse items by subject or type.</p>
<p>Click on the subject headings to see the items indexed under each heading. The further along the subject hierarchy you go, the less hits appear beneath.</p>
<p>Browsing by Types is performed in a similar way.</p>
<h4>Further help</h4>
<p><a href="#" data-page="4">Search</a></p>
</div>

<div id="p6" style="display:none">
<h1>Recent additions</h1>
<p>View the latest additions or modifications in your system by clicking on <em>Recent</em> in the tool bar.</p>
<p>Click on the magnifying glass to preview items without opening them.</p>
</div>

<div id="p7" style="display:none">
<h1>Creating new content</h1>
<p>Click on <em>Add</em> in middle of the toolbar. Choose the type of item you wish to create. Fill in the details about the new item and save.</p>
<h4>Further help</h4>
<p><a href="#" data-page="9">Using the editor</a><br>
<a href="#" data-page="12">Creating intranet pages</a><br>
<a href="#" data-page="11">Creating news items</a></p>
</div>

<div id="p8" style="display:none">
<h1>Search results</h1>
<p>The items matching your search criteria are shown in your search results.</p>
<h2>No results found</h2>
<p><strong>Did you mean?</strong> When no search results are found and the search term you entered is similar to another word, the alternative word will be shown. Clicking that word will display all items containing the alternative word.</p>
<h2>Limiting results by type</h2>
<p>At the top of the results list is a display of how many items of each type are shown in your search results. For example, if you know the item you are looking for is a person or a book, click on that type of material to only show the results of that type. To return to viewing all items click again on the type you chose.</p>
<h2>Results ordering</h2>
<p>Results will automatically be displayed by relevancy. Those which are more relevant to the search terms entered will be shown first. You can sort your results alphabetically by title, or by date by clicking on those options on the top right of the results list. Ordering by date uses the date field on the item, if no date has been added, the date the item was created is used automatically.</p>
<h2>Result check boxes</h2>
<p>Clicking the check box to the left of each search result  will add that search result to your <a href="#" data-page="19">Tray</a>.</p>
<h4>Further help</h4>
<p><a href="#" data-page="4">Search</a></p>
</div>

<div id="p9" style="display:none">
<h1>Using the editor</h1>
<p>The editor is used to add or update all items in ONEIS.</p>
<p>Only the Title or Name field is compulsory.</p>
<h2>Multiple entries</h2>
<p>All fields can have multiple entries. To create another entry within any field click on the plus button to the left of the field.</p>
<h2>Qualifiers</h2>
<p>Some fields have qualifiers to add more detail to an entry. If you wish to qualify an entry click into the text box and any qualifiers for this entry will appear in a drop down menu on the left.</p>
<h2>Deleting fields</h2>
<p>To delete fields click on the minus button to the right of the field. To restore a field deleted by mistake click on the arrow replacing the minus button.</p>
<h2>Controlled fields</h2>
<p>Fields shown with a link symbol are controlled fields. You can only complete these fields by choosing entries from a pre-compiled list.</p>
<h3>Lookup</h3>
<p>The pale yellow fields are lookup fields. Start typing your entry and matching choices will appear below the lookup field. Choose your entry from the list displayed. If your entry is not already in ONEIS, choose <em>Create new&#8230;</em> at the bottom of the list and fill in the details.</p>
<p>When choices are displayed, you can use the up and down arrow keys and enter to select a choice.</p>
<h3>Drop down choices</h3>
<p>Where there are not many entries in a controlled field, these may be listed as a drop down menu. Simply choose your entry from the drop down menu. Your Administrator can add more entries to this drop down menu.</p>
<h3>Subject: <em>click to set</em></h3>
<p>To index your item with entries in the hierarchical subject lists click on <em>click to set</em> then click on your chosen term. If you wish to index the item with multiple terms just click on the plus sign to the left of the field and choose your next term.</p>
<p>When choosing terms from the hierarchical index assign the most specific useful term. Even if a user searches for a broader term, any items indexed using the narrower terms under that broad term will appear in their search results.</p>
<h2>Show examples</h2>
<p>Click on <em>Examples</em> at the bottom of the editor to see examples above each field showing the correct format for entering information into that field.</p>
<h2>Add field</h2>
<p>If you wish to add another field to the record you are editing, choose the new field from the drop down list at the bottom of the editor and click on <em>Add</em>. If you can not see <em>Add field</em> at the bottom of the form, speak to your Administrator about enabling this function.</p>
<h2>Attaching files and images</h2>
<p>Some items allow you to attach files, and have a message saying &#8220;Drag files here&#8221;. Drag files from your computer into your browser to upload them. You can change the filename or version number by clicking on them.</p>
<p>The full text of files in common formats are included in the search, including:</p>
<ul>
	<li>PDF</li>
	<li>Text (plain and RTF)</li>
	<li>HTML</li>
	<li>Microsoft Office, old and new XML formats (Word, Power Point, Excel)</li>
	<li>OpenOffice (Writer, Calc, Impress, Draw)</li>
	<li>Apple iWork &#8217;09 (Pages, Keynote, Numbers)</li>
</ul>
<p>See also <a href="#" data-page="13">Managing versions of files</a>.</p>
<h2>Date fields</h2>
<p>To quickly set a Date field to today&#8217;s date, press the T key when it&#8217;s highlighted.</p>
<h2>Keyboard shortcuts</h2>
<p>To add an additional value for the currently highlighted field, press <%= @browser_accesskey %> + E.</p>
<p>To move between fields, use TAB and SHIFT + TAB.</p>
<h4>Further help</h4>
<p><a href="#" data-page="12">Creating intranet pages</a><br>
<a href="#" data-page="11">Creating news items</a><br>
<a href="#" data-page="16">Contact notes</a><br>
<a href="#" data-page="13">Managing versions of files</a></p>
</div>

<div id="p10" style="display:none">
<h1>Deleting items</h1>
<p>To delete an item:</p>
<ul>
	<li>find the item for deletion</li>
	<li>click the down arrow to the right of the <em>Edit</em> button</li>
	<li>choose <em>Delete</em>.</li>
</ul>
<p>You cannot delete items which are linked to other items or if they&#8217;re included in the navigation. You must remove the links and remove them from the navigation before deleting.</p>
</div>

<div id="p11" style="display:none">
<h1>Creating news items</h1>
<p>News are short pieces of information of current interest. To add a news item:</p>
<ul>
	<li>go to <em>Add</em></li>
	<li>choose <em>News</em></li>
	<li>enter the title</li>
	<li>enter the web address of the original news item, if there is one</li>
	<li>choose a subject if required</li>
	<li>write your news item in the Notes field</li>
	<li><em>Preview</em></li>
	<li><em>Save</em>.</li>
</ul>
<p>OR</p>
<p>From the homepage:</p>
<ul>
	<li>scroll to the bottom of the noticeboard</li>
	<li>click on <em>Add item</em></li>
	<li>add your news item as described above.</li>
</ul>
<h2>Viewing news</h2>
<p>Your news item will appear:</p>
<ul>
	<li>on your homepage noticeboard</li>
	<li>in search results</li>
	<li>in the latest updates bulletin of users subscribed to receive news or items on the subject of your news item</li>
	<li>in any embedded searches for news.</li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="9">Using the editor</a><br>
<a href="#" data-page="18">Latest updates</a></p>
</div>

<div id="p12" style="display:none">
<h1>Creating intranet pages</h1>
<p>Go to:</p>
<ul>
	<li><em>Add</em></li>
	<li>Choose <em>Intranet page</em></li>
</ul>
<p>Enter the title (compulsory) and subject (optional) of your page.</p>
<h2>Text formatting</h2>
<p>Type the text you want displayed on the Intranet page into the text field.  To format a line of text, place your cursor anywhere on the line, and click on the p to the left of the line.</p>
<p>Choose the option you wish to use for this line of text:</p>
<p>Paragraph: normal paragraph text<br>
Heading 1: largest title<br>
Heading 2: large title<br>
Heading 3: medium title<br>
Heading 4: small title</p>
<p>Textual formatting applies to the line for which it has been created, not the text. So if you move text to a different line after you&#8217;ve formatted it the formatting will be lost and need to be re-entered.</p>
<p>If you enter a web address (URL), it&#8217;ll be automatically turned into a hyperlink which you can click to visit that page.</p>
<h2>Embedded links to other items</h2>
<p>To add links to other items to your Intranet page:</p>
<ul>
	<li>place your cursor in the text field where you would like the link embedded</li>
	<li>click on the + sign to the left of the text editing box</li>
	<li>choose <em>Add content</em></li>
	<li><em>Open new window to select</em></li>
	<li>search for the items you wish to embed into your webpage</li>
	<li>once found, add them to your tray</li>
	<li>click on <em>Close</em> in the top right of the pop-up window</li>
	<li>once back on your new Intranet page, ensure your cursor is where you wish to embed links to the items you&#8217;ve gathered</li>
	<li>click on the + sign appearing to the left of the text editor</li>
	<li>choose <em>Add content</em></li>
	<li>either choose to add <em>Everything in the tray</em> or choose each item individually.</li>
</ul>
<p>To delete the embedded links click on the &#8211; symbol to the right of the embedded items.</p>
<p>If, when choosing to <em>Open new window to select</em> the new window does not pop-up, check your browser settings to ensure you allow pop-ups from this site.</p>
<h2>Adding an image</h2>
<p>To display an image on an Intranet page, go to the relevant Intranet page and click the <em>edit</em> button in the top right.</p>
<p>First, upload the image file to the Intranet page by clicking on <em>Upload file</em> at the bottom of the form. Once the file has uploaded:</p>
<ul>
	<li>place your cursor in the text field where you would like the image displayed</li>
	<li>click on the + to the left of the text field</li>
	<li>choose <em>Insert file</em> and choose the image file you wish to display</li>
	<li>choose the size of the image and position</li>
	<li>ticking the <em>Link to download</em> box will enable users to click on the image and download the full sized image</li>
	<li>add an optional caption to describe it.</li>
</ul>
<p>The image will be automatically resized to a file size appropriate for viewing over the Internet.</p>
<h2>Embedding a search</h2>
<p>To embed a permanently running search into your page:</p>
<ul>
	<li>place your cursor in the text field where you would like the search embedded</li>
	<li>click on the + sign appearing at the left of the text editing box</li>
	<li>choose <em>Add widget</em></li>
	<li>choose <em>Search</em></li>
	<li>enter your search terms in the box that appears (to embed a search for a particular type of material ie news, enter type:news)</li>
	<li>choose how your search results will display:<br>
<em>In all permitted&#8230;</em> choose your search subset<br>
<em>Sort by&#8230;</em> choose the order of your search results<br>
<em>Full listing&#8230;</em> choose whether the listing will be large or small, or as a calendar (for events only)<br>
<em>Show all&#8230;</em> choose whether results will be displayed in one long list, or to show 10 results to a page<br>
<em>Search within link&#8230;</em> choose whether to show a search box at the top of the search results, or a link to a search box, or none<br>
<em>Limit results to&#8230;</em> choose to limit results for items such as news where you only wish to display the most recent</li>
</ul>
<p>To delete the embedded search click on the &#8211; symbol to the right of the embedded search.</p>
<h2>Using HTML</h2>
<p>To use HTML in your page:</p>
<ul>
	<li>place your cursor where you would like to add the HTML</li>
	<li>click on the + sign appearing to the left of the text editing box</li>
	<li>choose <em>Add widget</em></li>
	<li>choose <em>HTML</em></li>
	<li>enter your HTML in the box which appears</li>
</ul>
<p>To delete the HTML click on the &#8211; symbol to the right of the HTML.</p>
<p>Some commonly used HTML tags:</p>
<h3>Link to a website</h3>
<p>On the webpage only the text &#8220;Find out more about ABC Widgets&#8221; will appear with the words, ABC Widgets, linked to the website www.abcwidgets.com:</p>
<pre>
Find out more about &lt;a href="http://www.abcwidgets.com/"&gt;ABC Widgets&lt;/a&gt;
</pre>
<h3>Link to a website which opens in a new window</h3>
<p>To open a new window when the link to ABC Widgets is clicked, add the target=&#8220;_blank&#8221; instruction:</p>
<pre>
Find out more about &lt;a href="http://www.abcwidgets.com/" target="_blank"&gt;ABC Widgets&lt;/a&gt;
</pre>
<h3>Link to an email address</h3>
<p>Clicking on the word &#8220;email&#8221; will create a new email with the email address webmaster@abcwidgets.com automatically added to the To field:</p>
<pre>
Please &lt;a href="mailto:webmaster@abcwidgets.com"&gt;email &lt;/a&gt;me for more information
</pre>
<h4>Further help</h4>
<p><a href="#" data-page="9">Using the editor</a><br>
<a href="#" data-page="11">Creating news items</a></p>
</div>

<div id="p13" style="display:none">
<h1>Managing versions of files</h1>
<p>Upload the first version of a file:</p>
<ul>
	<li><em>Add</em></li>
	<li><em>File</em></li>
	<li>drag the file into your web browser</li>
	<li>describe the file</li>
	<li><em>Save</em>.</li>
</ul>
<p>Once saved, click on <em>Versions</em> to the right of the uploaded file.</p>
<h2>Version list</h2>
<p>The Versions page will show the current and all previous versions of this file, with details of the author of each version and when it was published.</p>
<p>You can download and view any version from this page.</p>
<h2>Adding a new version</h2>
<p>To add a new version using the file versions page:</p>
<ul>
	<li>Drag a new version of the file into your web browser to upload it</li>
	<li>A form will appear with details of the new version</li>
	<li>Modify the filename if required</li>
	<li>Enter a log message to describe the changes you made</li>
	<li>A new version will have been generated for you, but you can edit it if required</li>
	<li>Once the file has finished uploading, click the <em>Create new version</em> button</li>
</ul>
</div>

<div id="p14" style="display:none">
<h1>Contacts directory</h1>
<p>All contact records will automatically appear in the contacts directory if your organisation uses one. You can normally find the contacts directory in the web page navigation on the left of every page.</p>
<p>To search the contacts directory click on <em>search within</em> at the top of the contact directory. To view the full records for any entry click on the person&#8217;s name.</p>
<h2>Editing your contact directory entry</h2>
<p>Login with your username and password. Search for your record or browse for your record in the Contacts Directory. Click to view your contact directory entry in full.</p>
<p>Click on the edit button in the top right of the page (symbolised by a pencil.) Make your changes. Save your changes either by choosing <em>save</em>, or <em>preview</em> if you wish to see your entry before committing it. Changes will appear immediately.</p>
<h2>Creating your contacts directory entry</h2>
<p>If you do not already have a contacts directory entry, click on ADD &gt;&gt; PERSON and follow the instructions for <em>Editing your contact directory entry</em> above.</p>
</div>

<div id="p15" style="display:none">
<h1>Contact relationship management</h1>
<p>People and organisations are stored separately, but linked together to show which person works for which organisation.</p>
<p>Before adding a new organisation record, check it doesn&#8217;t already exist in the system by searching for the organisation name.</p>
<p>Add the organisation record first:</p>
<ul>
	<li>go to <em>Add</em></li>
	<li>choose <em>Organisation</em></li>
	<li>describe the organisation using the fields displayed</li>
	<li><em>Save</em>.</li>
</ul>
<p>Then add the people records:</p>
<ul>
	<li>go to the record of the organisation they work for</li>
	<li>click on <em>Contact</em> (top right of screen) and choose <em>Add Person</em></li>
	<li>add the details of the person you know who works for that organisation</li>
	<li>repeat for each person you know working for that organisation</li>
	<li>there&#8217;s no need to add the address for each person if it&#8217;s the same as the organisation they work for.</li>
</ul>
<p>Adding people who aren&#8217;t linked to an organisation:</p>
<ul>
	<li>go to <em>Add</em></li>
	<li>choose <em>Person</em></li>
	<li>fill in the details of the person</li>
	<li><em>Save</em>.</li>
</ul>
</div>

<div id="p16" style="display:none">
<h1>Contact notes</h1>
<ul>
	<li>search to find the person&#8217;s record</li>
	<li>click on <em>Contact</em> (top right of screen)</li>
	<li>choose <em>Add Contact note</em></li>
	<li>fill in the details of the contact you&#8217;ve had with the person.</li>
</ul>
</div>

<div id="p17" style="display:none">
<h1>Taxonomies</h1>
<p>Taxonomies are used to describe items using hierarchical terms.</p>
<p>They&#8217;re also used to browse your information, see <a href="#" data-page="5">Browse</a>.</p>
<h1>Editing a taxonomy</h1>
<p>The taxonomy is displayed in columns from left to right, with narrower terms to the right. Clicking on an entry shows its narrower terms in the next column to the right.</p>
<h3>Adding a new term</h3>
<p>Navigate to the parent term (the broader term underneath which you wish to enter the new term), then click <em>Add term</em> at the bottom of the column to the right of the parent term. The taxonomy term editor will be displayed.</p>
<p>To create a new parent (broadest, top-level) term, click <em>Add term</em> at the bottom of the furthest left column.</p>
<h3>Edit taxonomy terms</h3>
<p>Navigate to the term you wish to edit. Click on <em>Edit this term</em> to the bottom left of the taxonomy display, and the term editor will be displayed.</p>
<h3>The term editor</h3>
<p>Taxonomy terms use the same editor as all other items in the system.</p>
<h4>Synonyms</h4>
<p>To add synonyms:</p>
<ul>
	<li>click on the + symbol to the left of the Title field</li>
	<li>add the synonym in the new field which appears</li>
	<li>choose Alternative from the qualifier box which appears to the left of the text box</li>
	<li><em>Save</em>.</li>
</ul>
<p>Delete unwanted synonyms by clicking on the &#8211; symbol to the right of the unwanted field.</p>
<h4>Related terms</h4>
<p>To add a related term:</p>
<ul>
	<li>go to the related term field</li>
	<li><em>click to set</em></li>
	<li>choose the related term from the copy of the taxonomy which appears</li>
	<li>you can add multiple related terms by clicking on the + symbol to the left of the related term field.</li>
</ul>
<p>Related terms are not automatically reciprocal.</p>
<h3>Move taxonomy terms</h3>
<ul>
	<li>Navigate to the term to move</li>
	<li>click on <em>Move</em> at  the bottom right of the taxonomy display</li>
	<li>a smaller taxonomy display appears below</li>
	<li>in the taxonomy display which has appeared, find and highlight the term underneath which you wish to move your term</li>
	<li>click on the wording in between the two taxonomy displays to confirm ie move x as narrower term of y.</li>
</ul>
<h3>Delete taxonomy terms</h3>
<ul>
	<li>Navigate to the term you wish to delete</li>
	<li>click on <em>Delete</em> to the bottom right of the taxonomy display</li>
	<li>confirm you wish to delete this term by clicking on <em>delete term</em>.</li>
</ul>
<p>You cannot delete terms which are currently used to index any items, if any of the narrower terms are used to index items, or if any other terms use this as a related term. You must remove the index term from all items first.</p>
<p>When a term is deleted, all the narrower terms are also deleted.</p>
</div>

<div id="p18" style="display:none">
<h1>Latest updates</h1>
<p>You can setup bulletins to alert you to any new items added to the system on subjects in which you are interested. These bulletins will be sent to you as an email with a summary of each item and a link to the full item. If you choose to be alerted on several subjects, your updates will be collated into one email that covers new items on all subjects.</p>
<p>To set up a latest updates bulletin:</p>
<ul>
	<li>go to your account (click on your name in the top right)</li>
	<li>click on <em>Latest update topics</em></li>
	<li>choose the types or subjects on which you wish to be kept up to date</li>
	<li><em>Save choices</em></li>
	<li>click on <em>Settings</em> on the right hand side of the page to set the frequency of updates and format of emails.</li>
</ul>
<h2>Viewing your latest updates in ONEIS</h2>
<p>As well as receiving email bulletins, you can also view all new items matching your preferences in ONEIS. Go to:</p>
<ul>
	<li>your account</li>
	<li>click on <em>View latest updates</em></li>
	<li>click on the arrows around the dates at the top of the screen to view previous updates.</li>
</ul>
</div>

<div id="p19" style="display:none">
<h1>Tray</h1>
<p>The Tray is a holding area for items you&#8217;re going to use later, either in an action elsewhere in ONEIS or just to keep a list to refer to later. The tray works a bit like a shopping basket.</p>
<p>To add items to the tray, you can click the <em>Add to tray</em> icon when you&#8217;re viewing an item, or use the checkboxes next to search results.</p>
<p>Once you&#8217;ve got something in the tray, you can perform actions on the contents by viewing the tray and using the buttons and menus above the tray listing. For example, you can create a new Intranet page which links to all the items in the tray.</p>
<p>You can also use the contents of the tray in other parts of ONEIS. For example, in the intranet page editor and navigation editor, you can insert links to the pages in your tray using the <em>Add</em> buttons.</p>
</div>

<div id="p20" style="display:none">
<h1>Your account</h1>
<p>To get to your account page click on your name in the top right.</p>
<p>Your account page lists different options specific to you.</p>
<ul>
	<li>Checked out files: view the files you currently have checked out.</li>
</ul>
<ul>
	<li>Tasks: view current and future tasks assigned to you.</li>
</ul>
<ul>
	<li>View latest updates: view new additions to ONEIS matching your interests.</li>
</ul>
<ul>
	<li>Latest update topics: select the topics to be included in your latest updates.</li>
</ul>
<ul>
	<li>Your account: information about your account including your log in email address, your group memberships, and contact details for your system administrators.</li>
</ul>
<ul>
	<li>Change password: click here to change your password.</li>
</ul>
<ul>
	<li>Logout: click here to finish using ONEIS, and ensure that anyone else using this computer cannot access your information.</li>
</ul>
<ul>
	<li>Devices: Manage computers, laptops and phones activated with your account.</li>
</ul>
</div>

<div id="p21" style="display:none">
<h1>Main menu</h1>
<p>You&#8217;ll find the main menu in the top right of every screen, just click your name.</p>
<ul>
	<li>Edit taxonomies: for adding and editing the subject taxonomies.</li>
</ul>
<ul>
	<li>System management: to access the system management functionality and setup and manage user accounts.</li>
</ul>
</div>

<div id="p22" style="display:none">
<h1>Manage tokens</h1>
<p>Authentication tokens provide an extra level of security. This page lists all the users, and any tokens issued to them.</p>
<p>It is important that you manage tokens carefully to avoid compromising the security of the system.</p>
<h2>Issue token</h2>
<p>To issue a token, click &#8216;Issue&#8217; next to the user. Type in the token serial number and the current code from the token.</p>
<h2>Replace token</h2>
<p>If you&#8217;re asked to replace a token, be very careful that you&#8217;re issuing the replacement to the correct person.</p>
<h2>Withdraw token</h2>
<p>Withdrawing a token will, depending on the configuration of the system, either prevent a user from logging in, or allow the user to log in without a token.</p>
<h2>Create temporary code</h2>
<p>If a user has forgotten a token, you can create a temporary code to allow them to log in. Make sure you verify the identity of the user carefully.</p>
</div>

<div id="p23" style="display:none">
<h1>Billing and usage</h1>
<p>View the billing and usage page from the <em>Tools</em> menu to see your current usage and limits:</p>
<ul>
	<li>users include all active users (but not blocked users)</li>
	<li>items are the records in the system, such as person, organisation, file or book</li>
	<li>storage is the overall storage required for your system shown in GB.</li>
</ul>
<p>Your billing details are shown. Follow the instructions to modify your account.</p>
</div>

