<%
  @page_title = "Contact #{KApp.global(:product_name)} support - message sent"
  @breadcrumbs = [:account]
%>

<h2>Thanks for contacting us.</h2>

<p>We aim to reply within 24 hours<% if params.has_key?(:urgent) %>, but as your request is urgent we'll try to be much quicker<% end %>.</p>

<p>Your tracking ID is <b><%= h(@enquiry_id) %></b>.</p>
