<%
  @page_title = "Contact #{KApp.global(:product_name)} support"
  
  client_side_controller_js "contact"
%>

<form method="POST"><%= form_csrf_token %>
<p>I'd like to <select name="type" id="z__help_type">
  <option value="feedback">send feedback</option>
  <option value="help">ask for help</option>
  <option value="problem">report a problem</option>
</select></p>

<p>From: <%= h(@request_user.name) %></p>

<p>About:<br>
<input type="text" name="subject" class="z__full_width_form_element"></p>

<div id="hr_feedback">
  <p><i>Sending feedback...</i><br>
  Let us know how we can improve. We really appreciate your feedback.</p>
</div>

<div id="hr_help" style="display:none">
  <p><i>Asking for help...</i><br>
  Let us know what you're trying to achieve, and we'll give you pointers on the best way to do it.</p>
</div>

<div id="hr_problem" style="display:none">
  <p><i>Reporting a problem...</i><br>
  We'll be able to help you quicker if you let us know</p>
  <ul>
    <li>what you were trying to do
    <li>the steps you took when trying to do it
    <li>what happened
    <li>how that differed from what you expected to happen.
  </ul>
</div>

<p>More details:<br>
<textarea name="details" rows="8" cols="64" class="z__full_width_form_element"></textarea></p>

<p id="z__help_permission_container" style="display:none"><label><input type="checkbox" name="access_permission" value="yes" id="z__help_permission">Support staff have permission to log into this system, if required to resolve this issue.</label></p>

<p><label><input type="checkbox" name="urgent" id="z__help_urgent">It's urgent!</label></p>
<p id="z__help_urgent_msg" style="display:none">We aim to respond to queries within 24 hours, but this query will be marked as urgent and we'll get back to you as soon as we can.</p>

<p><input type="submit" value="Send message to <%= KApp.global(:product_name) %> support"></p>
</form>

