<%
  @page_title = 'Help'
  client_side_resources :help_system
  @breadcrumbs = [:help]
%>

<p><i><a href="#" data-page="0">Contents</a></i></p>

<div id="z__help_system_text">

<%= help_text_rename_product!(render :partial => 'help_text') %>

<div id="z__help_system_mapping" data-pop="1" data-mapping="[<%= render :partial => 'help_mapping' %>]"></div>

<p>&nbsp;</p>
<p><i><a href="#">top</a></i></p>

</div>
