<%
  client_side_controller_js('preview')
%>

<hr>

<p><input type="submit" value="Preview (HTML)" id="z__preview_html_button">
<input type="submit" value="Preview (plain)" id="z__preview_plain_button">
<input type="submit" value="Send preview email" id="z__email_button"></p>

<div id='z__preview_container' style='margin: 10px 0'></div>
