/* Haplo Platform                                     http://haplo.org
 * (c) Haplo Services Ltd 2006 - 2016    http://www.haplo-services.com
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.         */

.z__workflow_debug_quick_action {
    margin-bottom: 12px;
}
.z__workflow_debug_sidebar {
    position: absolute;
    top: 200px;
    right: 20px;
    width: 150px;
}
.z__workflow_debug_sidebar button, .z__workflow_debug_sidebar input[type=submit], .z__workflow_debug_quick_action input[type=submit] {
    display: block;
    width: 100%;
    position: relative;
    padding: 5px 10px;
    color: #555;
    background: #eee;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    outline: 0;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.z__workflow_debug_sidebar_person_name { display: none; } /* show person names on mouseover */
.z__workflow_debug_sidebar button:hover .z__workflow_debug_sidebar_person_name {
    display: block;
}
.z__workflow_debug_sidebar input[type=submit]:disabled {
    background-color: #fff;
    color: #bbb;
}
