<%
  @page_title = 'Error during plugin installation'
-%>

<h1><%= @page_title %></h1>

<p>An error occurred during plugin installation, or the plugin name is incorrect. Contact Support for help.</p>
