<%
  @page_title = 'Uninstall plugin: '+h(@plugin_factory.plugin_name)
-%>

<h1><%= @page_title %></h1>

<% if @should_confirm %>
  <p><b>Confirm plugin uninstallation by checking the box below.</b></p>
<% end %>

<form method="POST"><%= form_csrf_token %>

<p>Really uninstall?</p>

<p><input type="checkbox" name="uninstall" value="confirm"> Uninstall <%= h(@plugin_factory.plugin_name) %></p>

<p><input type="submit" value="Uninstall"></p>

<p style="width:60%">Uninstalling a plugin will change the operation of your system, and, if the plugin has a security element, may reveal information which should be kept secret. If in doubt, check with the author of the plugin.</p>

</form>
