<%
  title = @subset.first_attr(KConstants::A_TITLE)

  @page_title = 'Delete '+h(title.to_s)
-%>

<p>Really delete subset <b><%= h(title) %></b>?</p>

<form method="post" action="/do/setup/subset/delete/<%= h(params[:id]) %>"><%= form_csrf_token %>
  <input type="submit" value="Delete subset">
</form>

<p><a href="/do/setup/subset">cancel</a></p>
