<% @page_title = 'About Restrictions' %>
<%= sys_mng_header %>

<p>Restrictions control display and editing of attributes on objects. Restrictions are implemented by plugins and cannot be edited in System Management.</p>
