<!DOCTYPE html>
<html>
<head><title><%= @locale.text(:File_View_Conversion_failed) %></title></head>
<body>
  <p style="font-family: Helvetica,Arial,sans-serif; font-size: 11px; border:1px solid #bbb; margin: 20% 16px; padding:8px 16px; text-align:center"><%= @locale.text(:File_View_An_error_occurred_during_file___) %></p>
  <p style="display:none" data-padding="(Request padding for Internet Explorer to make it display the message.) 0123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789"></p>
</body>
</html>
