<!DOCTYPE html>
<html lang="<%= @locale.locale_id %>">
  <head>
    <title><%= @locale.text(:File_View_Not_found) %></title>
  </head>
  <body>
    <h1><%= @locale.text(:File_View_Not_found) %></h1>
    <p><%= @locale.text(:File_View_The_file_requested_is_not_available___) %></p>
  </body>
</html>
