<%
  @page_title = 'Search tips'
  @minimal_layout_no_cancel = true
%>

<table style="width:450px">
  <tr><td>Truncation</td><td>survi*</td><td>finds survivor, survival, survive, etc</td></tr>
  <tr><td>Or</td><td>caravan or campervan</td><td>finds either term</td></tr>
  <tr><td>Proximity</td><td>client _10 proposal </td><td>finds client within ten words of proposal</td></tr>
  <tr><td>Field</td><td>title:Business Plan</td><td>finds Business Plan in the title field</td></tr>
</table>

<p>&nbsp;</p>
<p>Not finding anything?</p>

<ul>
  <li>If you've used abbreviations, try the full word.</li>
  <li>Check you've spelled everything correctly.</li>
  <li>Less specific queries with fewer search terms will find more items.</li>
</ul>
