<%
  @page_title = T(:Tray_Title_Tray)
  @breadcrumbs = [:tray]
-%>

<% if @objs.empty? -%>
  <p><%= @locale.text(:Tray_View_There_are_no_items_in_the_tray_) %></p>
<% else -%>

<% @objs.each do |obj| -%>
  <div class="z__tray_entry">
    <div class="z__tray_remove"><a class="z__button_link" href="?clear=<%= obj.objref.to_presentation %>">&nbsp;</a></div>
    <%= render_obj(obj, :linkedheading) %>
  </div>
<% end -%>
<div class="z__tray_entry_footer"></div>

<%= workflow_buttons([[T(:Tray_Empty_tray), '?clear=all']]) %>

<% end -%>

