<% @page_title = T(:Session_Title_Spawned_new_sub_task) %>

<p><%= @locale.text(:Session_View_This_is_a_new_window__The_task___) %></p>

<p><%= @locale.text(:Session_View_When_the_return_button_in_the_top___) %></p>

<p><%= @locale.text(:Session_View_Search_and_navigate_around_the_system___) %></p>

<p><%= @locale.text(:Session_View_Objects_added_to_the_tray_in_the_this___) %></p>
