<% @page_title = "Spawned new sub-task" %>

<p>This is a new window. The task underneath is paused.</p>

<p>When the return button in the top left of this window is active, you can return to the previous task selecting whatever is in this window.</p>

<p>Search and navigate around the system as normal to continue.</p>

<p>Objects added to the tray in the this window will be available in the main task. Just add them to the basket then click Close.</p>
