<%
  @page_title = "Temporary code"
  @breadcrumbs = [:menu, ['/do/admin/otp', 'Tokens']]
%>

<p>You cannot create temporary codes for colleagues because you do not have a token assigned to your account.</p>

<p>&nbsp;</p>
<p><a href="/do/admin/otp">Back</a></p>
