<%
  @page_title = "Temporary code"
  @breadcrumbs = [:menu, ['/do/admin/otp', 'Tokens']]
%>

<p>You must properly verify the identify of the user when creating a temporary code. Failure to do so compromises the security of the system.</p>

<p>&nbsp;</p>
<p><a href="/do/admin/otp">Cancel</a></p>
