<% if request.user_agent =~ /MSIE 6\./ %>
  <div style="clear:both;margin-top:32px">
    <p><img src="/images/alerticon.gif"> You're using a very old version of Internet Explorer. Some features will not display properly or be unavailable. If possible, please upgrade to the latest version of Internet Explorer (at least version 7), or use a modern standards-compliant browser such as Firefox, Safari or Chrome.</p>
  </div>
<% end %>
