<% if request.user_agent =~ /MSIE 6\./ %>
  <div style="clear:both;margin-top:32px">
    <p><img src="/images/alerticon.gif"> <%= @locale.text(:Shared_View_You_re_using_a_very_old_version_of___) %></p>
  </div>
<% end %>
