<%
  client_side_resources :wait_for_download
%>
<div class="z__wait_for_download" data-identifier="<%= h(data_for_template[:identifier]) %>">
  <div class="z__wait_for_download_inner">
    <%
      if data_for_template[:message]
        %><b><%= h(data_for_template[:message]) %></b><%
      else
        %><%= @locale.text_format(:GenFile_Preparing_download_of, data_for_template[:filename]) %><%
      end
    %>
  </div>
  <div class="z__wait_for_download_progress"><div class="z__wait_for_download_progress_indicator"></div></div>
</div>
