<p>You've reached the limit of <b><%= KApp.global(:limit_users) %> users</b> on your <%= KApp.global(:product_name) %> system.</p>

<p>To add more users, you must upgrade.</p>

<p>Alternatively, you can block existing users you don't need any more. Blocked users do not count towards your total number of users.</p>
