<% if @failed_change -%>
  <p><b style="color:red"><%= data_for_template[:message] %></b>
  <% if @not_match %><br><%= @locale.text(:Authentication_View_The_passwords_entered_did_not_match___) %><% end %>
  <% if @bad_new %><br><%= @locale.text(:Authentication_View_The_password_did_not_meet_minimum___) %> <%= @locale.text(:Authentication_Password_Requirement_Statement) %><% end %>
  </p>
<% end -%>
