<% if @failed_change -%>
  <p><b style="color:red"><%= data_for_template[:message] %></b>
  <% if @not_match %><br>The passwords entered did not match. Passwords are case sensitive, 'a' is different to 'A'.<% end %>
  <% if @bad_new %><br>The password did not meet minimum security requirements: Passwords <%= User::SECURITY_REQUIREMENTS_TEXT %>.<% end %>
  </p>
<% end -%>
