
<p><%= @name %>,</p>

<p>Someone, hopefully you, submitted a password change request at your <%= KApp.global(:product_name) %> system.</p>

<p class="button"><a href="<%= @url %>">Click here to continue the process.</a></p>

<p>You will be asked to select a new password.</p>

<p>If you did not request this email, please ignore it and accept our apologies.</p>

<p>If you get many of these emails, please reply to this email and we will resolve the issue.</p>

