
<p><%= @locale.text_format(:Authentication_Recovery_Someone_submitted_a_password_change, KApp.global(:product_name)) %></p>

<p><%= @locale.text(:Authentication_View_There_is_no_user_account_for_the___) %></p>

<p><%= @locale.text(:Authentication_View_If_you_did_not_request_this_email___) %></p>

<p>If you get many of these emails, please reply to this email and we will resolve the issue.</p>
