
<p>Someone, hopefully you, submitted a password change request at your <%= KApp.global(:product_name) %> system.</p>

<p>There is no user account for the email address entered. We send this email to avoid revealing the existence or otherwise of an account on the web, for security reasons.</p>

<p>If you did not request this email, please ignore it and accept our apologies.</p>

<p>If you get many of these emails, please reply to this email and we will resolve the issue.</p>
