<p><b>It's important to choose a secure password.</b> The security of your information depends on choosing a password which is not easily guessed. Choose a password which you don't use anywhere else. Make sure it includes some random letters and numbers, and try not to include common words.</p>
