<%
  @page_title = T(:Authentication_Title_Expired_link)
  @breadcrumbs = [:login]
-%>

<p><%= @locale.text(:Authentication_View_You_ve_clicked_on_a_link_to_set_your___) %></p>

<p><%= @locale.text(:Authentication_View_For_security_reasons__these_welcome___) %></p>

<p><%= @locale.text(:Authentication_View_To_set_a_password_for_your_account___) %></p>

<p>&nbsp;</p>
<form method="GET" action="/do/authentication/recovery"><input type="submit" value="<%= @locale.text(:Authentication_View_Next) %> &raquo;"></form>
