<%
  @page_title = 'Change password'
  @breadcrumbs = [:account]
-%>

<p>Enter your current password, then your new password twice. Passwords are case sensitive, 'a' is different to 'A'. Passwords <%= User::SECURITY_REQUIREMENTS_TEXT %>.</p>

<%= render :partial => 'password_importance' %>

<% if @failed_change -%>
  <p><b style="color:red">Password not changed.</b>
  <% if @bad_old %><br>The old password entered was incorrect.<% end %>
  <% if @not_match %><br>The new passwords entered did not match.<% end %>
  <% if @bad_new %><br>The new password did not meet minimum security requirements: Passwords <%= User::SECURITY_REQUIREMENTS_TEXT %>.<% end %>
  </p>
<% end -%>

<form method="POST"><%= form_csrf_token %>

<p>Old password<br>
<input type="password" name="old" value=""></p>

<p>New password<br>
<input type="password" name="pw1" value=""></p>

<p>Re-enter new password to confirm<br>
<input type="password" name="pw2" value=""></p>

<p><input type="submit" value="Change password"></p>

</form>
