<%
  @page_title = 'Password managed externally'
  @breadcrumbs = [:account]
-%>

<p>Your account is managed by an external identity provider, which you must use to change your password. Please contact your administrator for assistance.</p>
