<%
  @page_title = 'Change password'
  @breadcrumbs = [:account]

  if @change_msg == nil || @change_msg.length == 0
    @change_msg = 'Please contact your administrator for assistance in changing your password.'
  end
-%>

<p><%= h(@change_msg) %></p>
