<%
  @page_title = T(:Authentication_Title_Access_denied)
%>

<div class="z__general_alert"><%= @locale.text(:Authentication_View_You_don_t_have_permission_to_view_the___) %></div>

<p><%= @locale.text(:Authentication_View_The__access_denied__placeholder_is___) %></p>

<p><%= @locale.text(:Authentication_View_Click_your_browser_s_Back_button_to___) %></p>
