<%
  @page_title = "Access denied"
%>

<div class="z__general_alert">You don't have permission to view the linked item.</div>

<p>The 'access denied' placeholder is shown to alert you to the existence of information, without revealing what it is. Contact someone with permission to view this item if you need to know this information.</p>

<p>Click your browser's Back button to return to the previous page.</p>
