<%
  @page_title = T(:Authentication_Title_Logged_out)
  client_side_controller_js("loggedout")
-%>

<p><%= @locale.text_format(:Authentication_You_have_logged_out_of, KApp.global(:product_name)) %></p>

<p>&nbsp;</p>
<p><a href="login"><%= @locale.text(:Authentication_View_Log_in) %></a></p>
