<%
  @page_title = T(:Authentication_Title_Logged_out)
  client_side_controller_js("loggedout")
-%>

<p><%= @locale.text_format(:Authentication_You_have_logged_out_of, KApp.global(:product_name)) %></p>

<p>&nbsp;</p>
<%= workflow_buttons([[@locale.text(:Authentication_View_Log_in), 'login']]) %>
