<% @breadcrumbs = [:login] -%>
<% @page_title = T(:Authentication_Title_Locked_out) -%>

<p><%= @locale.text(:Authentication_View_There_have_been_too_many_failed_login___) %></p>

<p><%= @locale.text_format(:Authentication_Throttled_Please_Wait, KLoginAttemptThrottle::FAILURE_ATTEMPT_TIMEOUT / 60) %></p>

<p><%= @locale.text(:Authentication_View_While_inconvenient_to_forgetful___) %></p>
