<%
  @page_title = T(:Authentication_Title_Logging_out___)
  client_side_controller_js("logout")
-%>

<p><%= @locale.text(:Authentication_View_Please_wait___) %></p>

<p>&nbsp;</p>

<form method="POST" id="logout_form"><%= form_csrf_token %>
  <input type="submit" value="<%= @locale.text(:Authentication_View_Log_out) %>">
</form>
