<% @page_title = T(:Authentication_Title_Login_failed) %>

<p><%= @locale.text(:Authentication_View_The_identity_service_could_not_verify___) %></p>

<p><%= @locale.text_format(:Authentication_OAuth_Failure_Error_Code, @error.error_code) %></p>

<p><a href="/do/authentication/login"><%= @locale.text(:Authentication_View_Try_again) %></a></p>
