<% @breadcrumbs = [:login] -%>
<% @page_title = 'Authenticate with token' -%>

<% if @login_attempted %>
  <p class="z__general_alert"><% if @otp_result != nil && @otp_result.message != nil %><%= h(@otp_result.message) %><% else %>Incorrect code, please try again.<% end %></p>
  <p><%= h(otp_admin_contact_text) %></p>
  <p>&nbsp;</p>
<% end %>

<form method="POST" action="/do/authentication/otp"><%= form_csrf_token %>

<% if params.has_key?(:rdr) -%>
  <input type="hidden" name="rdr" value="<%= h(params[:rdr]) %>">
<% end -%>

<p><img src="/images/hardware-otp.png" width="113" height="30"></p>
<ul>
  <li>Press the button on your token</li>
  <li>Type the code into the box below</li>
</ul>

<p><input id="password" name="password" size="30" type="password" class="z__login_input_field z__focus_candidate"> <input type="submit" value="Log in" class="z__login_button"></p>

</form>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><b>WARNING</b> &nbsp; Never let anyone else use your token, and keep the codes confidential.</p>
