<% @breadcrumbs = [:login] -%>
<% @page_title = T(:Authentication_Title_Authentication_with_token_required) -%>

<p><%= @locale.text(:Authentication_View_You_cannot_log_on_because_you_are___) %></p>

<p><%= h(otp_admin_contact_text) %></p>
