<% @breadcrumbs = [:login] -%>
<% @page_title = 'Authentication with token required' -%>

<p>You cannot log on because you are required to use a token, but have not been issued with a token.</p>

<p><%= h(otp_admin_contact_text) %></p>
