<%
  @page_title = T(:Authentication_Title_Forgotten_password)
  @breadcrumbs = [:login]
-%>

<p><b><%= @locale.text(:Authentication_View_Step_2) %></b></p>

<p><%= @locale.text(:Authentication_View_An_email_has_been_sent_to_you__Please___) %></p>

<p><%= @locale.text(:Authentication_View_This_process_is_used_to_confirm_that___) %></p>

