<%
  @page_title = 'Forgotten password'
  @breadcrumbs = [:login]
-%>

<p><b>Your password has been changed.</b></p>

<p><a href="/do/authentication/login">Log in to <%= KApp.global(:product_name) %></a></p>
