<%
  @page_title = 'Forgotten password'
  @breadcrumbs = [:login]
-%>

<p><b>Step 2</b></p>

<p>An email has been sent to you. Please click the link in the email to continue.</p>

<p>This process is used to confirm that you have access to the email account corresponding to your user account.</p>

