<%
  @page_title = 'Forgotten password'
  @breadcrumbs = [:login]
-%>

<p>If you have forgotten your password, you can set a new password by confirming you have access to your
email account.</p>

<ul>
  <li>Enter your email address below
  <li>Check your email inbox for a message from <%= KApp.global(:product_name) %>
  <li>Click the link in the email
  <li>Choose your new password
</ul>

<p>&nbsp;</p>
<p><b>Step 1</b></p>

<form method="post"><%= form_csrf_token %>
<% if @invalid_email_address -%>
  <p><b style="color:red">Invalid email addresss</b></p>
  <p>Please check the email address you entered.</p>
<% end -%>

<p>Enter your email address, then click the button.<br>
<input type="text" name="email" value="<%= h(params[:email]) %>" class="z__focus_candidate"> <input type="submit" value="Send email"></p>
</form>
