<%
  @page_title = 'Password set'
  @breadcrumbs = [:login]
-%>

<p><b>Your password has been set.</b></p>

<p>To log in, use the password with your registered email address, <b><%= h(@email) %></b>.</p>

<p>&nbsp;</p>

<form method="POST" action="/do/authentication/login"><%= form_csrf_token %>
  <input type="hidden" name="email" value="<%= h(@email) %>">
  <input type="hidden" name="no_login" value="1">
  <input type="submit" value="Log in">
</form>
