
# This file specifies the command line arguments to the JVM worker processes

# NOTE: CLASSPATH set in config/paths-$PLATFORM.sh

# 32/64 bit VM set in options to the runner utility

# Java environment
-Dsun.jnu.encoding=UTF-8
-Dfile.encoding=UTF-8
-Djava.awt.headless=true
# Locale
-Duser.language=en
-Duser.country=GB

# Use the JITing VM (should be default anyway)
-server

# Use the CLASSPATH from the environment, and add the oneis.jar file
-classpath
framework/oneis.jar:{CLASSPATH}

# JVM options
# Maximum amount of memory the JVM will ever allocate
-Xmx1g
# Max stack size for the JVM's internal processing
-Xss2048k

# JPedal options
# Match font dirs with check in installer
-Dorg.jpedal.fontdirs={FONTS_DIRECTORY}

# Log4j config file location
-Dlog4j.configuration=file://{KLOG4J_CONFIG}

# ONEIS Configuration
-Dcom.oneis.host.os={KHOST_OPERATING_SYSTEM}
-Dcom.oneis.startupflag={KSTARTUP_FLAG_FILE}
# TODO: Sort out Aspose license pathname in java-working.config properly (component should set up extra config + jars for workers)
-Dcom.oneis.component.asposeconvert.license=components/aspose-convert/config/Aspose.Total.Java.lic
-Dcom.oneis.fonts.dir={FONTS_DIRECTORY}

# How to run the worker process
com.oneis.op.OpWorkerProcess
