
# This file specifies the command line arguments to the JVM worker processes

# NOTE: CLASSPATH set in config/paths-$PLATFORM.sh

# 32/64 bit VM set in options to the runner utility

# Java environment
-Dsun.jnu.encoding=UTF-8
-Dfile.encoding=UTF-8
-Djava.awt.headless=true
# Locale
-Duser.language=en
-Duser.country=GB

# Use the JITing VM (should be default anyway)
-server

# Use the CLASSPATH from the environment, and add the haplo.jar file
-classpath
framework/haplo.jar:{CLASSPATH}

# JVM options
# Maximum amount of memory the JVM will ever allocate
-Xmx1g
# Max stack size for the JVM's internal processing
-Xss2048k

# JPedal options
# Match font dirs with check in installer
-Dorg.jpedal.fontdirs={FONTS_DIRECTORY}

# Log4j config file location
-Dlog4j.configuration=file://{KLOG4J_CONFIG}

# Haplo Configuration
-Dorg.haplo.host.os={KHOST_OPERATING_SYSTEM}
-Dorg.haplo.startupflag={KSTARTUP_FLAG_FILE}
-Dorg.haplo.fonts.dir={FONTS_DIRECTORY}

# How to run the worker process
org.haplo.op.OpWorkerProcess
