
# This file specifies the command line arguments to the JVM application server

# NOTE: CLASSPATH set in config/paths-$PLATFORM.sh

# 32/64 bit VM set in options to the runner utility

# Java environment
-Dsun.jnu.encoding=UTF-8
-Dfile.encoding=UTF-8
-Djava.awt.headless=true
# Locale
-Duser.language=en
-Duser.country=GB
-Duser.timezone=UTC

# Use the JITing VM (should be default anyway)
-server

# Use the CLASSPATH from the environment, and add the haplo.jar file
-classpath
framework/haplo.jar:{CLASSPATH}

# JVM options
# Maximum amount of memory the JVM will ever allocate
-Xmx8g
# Max stack size for the JVM's internal processing
-Xss2048k
# More space for Rhino codegen, and enable flushing of the cache before switching off JVM compiler
-XX:ReservedCodeCacheSize=512m
-XX:+UseCodeCacheFlushing

# JRuby options
-Djffi.boot.library.path={JRUBY_HOME}/lib/jni
-Djava.security.egd=file:/dev/urandom
-Xbootclasspath/a:{JRUBY_HOME}/lib/jruby.jar
-Djruby.home={JRUBY_HOME}
-Djruby.lib={JRUBY_HOME}/lib
-Djruby.script=jruby
-Djruby.shell=/bin/sh

# JPedal options
# Match font dirs with check in installer
-Dorg.jpedal.fontdirs={FONTS_DIRECTORY}

# Jetty Configuration
# Don't rewrite headers sent (eg would change charset=utf-8 into charset=UTF-8 without it)
-Dorg.eclipse.jetty.http.HttpGenerator.STRICT=true

# TLS configuration
-Djdk.tls.ephemeralDHKeySize=2048
-Djdk.tls.rejectClientInitiatedRenegotiation=true

# Haplo Configuration
-Dorg.haplo.host.os={KHOST_OPERATING_SYSTEM}
-Dorg.haplo.startupflag={KSTARTUP_FLAG_FILE}
-Dorg.haplo.fonts.dir={FONTS_DIRECTORY}
-Dorg.haplo.healthurl=check
-Dorg.haplo.listen=8080,8080,8443,8443
-Dorg.haplo.listen.production=8080,80,8443,443
-Dorg.haplo.listen.secondary=8444

# How to boot the application
org.haplo.framework.Boot
