<p>This term cannot be deleted because some objects are classified by this term or it's children.</p>
<p><a href="/search?q=%23L<%= @objref.to_presentation %>%23%20not%20%23L<%= @obj.first_attr(KConstants::A_TYPE).to_presentation %>%23%20~O" target="_blank" rel="noopener">Show objects classified under this term.</a> (opens in new window)</p>
