<%
  unless @info
    @page_title = 'File not available'
    %><div class="z__general_alert">This file is no longer available.</div><%
  else
    render :partial => "page", :data_for_template => {:default_title => 'Download file...'}
    %><%= render :partial => 'shared/wait_for_download', :data_for_template => {
      :identifier => @info['identifier'],
      :filename => @info['filename']
    } %><%
  end
%>
