<% @page_title = 'About Web publications' %>
<%= sys_mng_header %>

<p>Web publications publish a subset of information as a public web site.</p>

<p>These are implemented as a <i>Publication</i> plugin, which uses <tt>std_web_publisher</tt> to integrate with the Platform.</p>

<p>Once installed, Publications appear in the menu.</p>
