<% @page_title = 'Appearance' -%>

<%= sys_mng_header %>

<form method="GET" action="/do/setup/appearance" target="_blank" rel="noopener" style="margin:32px 8px">
  <input type="submit" value="Launch appearance editor"> (opens in new window)
</form>
