<% @page_title = 'Configuration' -%>
<div id="k__workspace_url" data-url="/do/setup/application/identity"></div>

<h1>Configuration</h1>

<ul>
  <li><a href="/do/setup/application/identity" target="workspace" class="z__selected">Identity</a></li>
  <li><a href="/do/setup/application/otp_contact" target="workspace">Token admin contact</a></li>
  <li><a href="/do/setup/application/files" target="workspace">Static files</a></li>
  <li><a href="/do/setup/application/appearance" target="workspace">Appearance</a></li>
  <li><a href="/do/setup/appearance/webfonts" target="workspace">Web fonts</a></li>
  <li><a href="/do/setup/application/features" target="workspace">Feature names</a></li>
  <li><a href="/do/setup/application/feature-enable" target="workspace">Enable features</a></li>
  <li><a href="/do/setup/application/code-lock" target="workspace">API code lock</a></li>
  <li><a href="/do/setup/application/timezones" target="workspace">Time zones</a></li>
  <li><a href="/do/setup/application/providers" target="workspace">External providers</a></li>
  <li><a href="/do/setup/application/home_page?show=1" target="workspace">Home page</a></li>
</ul>
