<% @page_title = 'Edit administrator email address' -%>
<%= sys_mng_header %>

<% if @bad_address %>
<p><b>The email address you entered does not look like a valid email address.</b></p>
<% end %>

<form method="post"><%= form_csrf_token %>
  <p>Administrator email address<br><input type="text" name="admin_email_address" size="30" value="<%= h(@admin_email_address) %>"></p>
  <p><input type="submit" value="Save"></p>
</form>
