<% @page_title = 'Search configuration' -%>

<h1>Search configuration</h1>

<ul>
  <li><a href="/do/setup/application/sort_order" target="workspace">Sort order</a></li>
  <li><a href="/do/setup/application/search_by_fields" target="workspace">Search by fields</a></li>
</ul>
