<%
  @page_title = 'Tools'
-%>

<h1>Tools</h1>

<ul>
  <li class="z__management_action"><a href="/do/setup/application/usage" target="workspace">Usage</a></li>
</ul>

<ul>
  <li class="z__management_action"><a href="/do/setup/plugins/console" target="workspace">Plugin console</a></li>
</ul>

<ul>
  <li class="z__management_action"><a href="/do/setup/schema-requirements/apply" target="workspace">Apply requirements</a></li>
  <li class="z__management_action"><a href="/do/setup/schema-requirements/generate" target="workspace">Generate requirements</a></li>
</ul>
