<% @page_title = T(:Edit_Title_Error) %>
<div class="z__general_alert"><%= @locale.text(:Edit_View_Changes_not_saved_) %></div>
<p><%= @locale.text(:Edit_View_Your_browser_didn_t_send_anything_to___) %></p>