<div id="p0" style="display:none">
<h1>System Management help</h1>
<p><em>System Management</em> controls how your PRODUCT_NAME behaves, and who can use it. As you click on entries in the menus above, this help system will display relevant guidance.</p>
<h2>Contents</h2>
<h3>Access</h3>
<p><a href="#" data-page="1">Users</a><br>
<a href="#" data-page="2">New user</a><br>
<a href="#" data-page="3">User information</a><br>
<a href="#" data-page="4">Block or delete a user</a><br>
<a href="#" data-page="5">Edit main details for user</a><br>
<a href="#" data-page="6">Edit group membership</a></p>
<p><a href="#" data-page="7">Groups</a><br>
<a href="#" data-page="8">New group</a><br>
<a href="#" data-page="9">Group information</a><br>
<a href="#" data-page="10">Disable a group</a><br>
<a href="#" data-page="11">Edit main details for a group</a><br>
<a href="#" data-page="12">Edit members of a group</a><br>
<a href="#" data-page="13">Permissions</a><br>
<a href="#" data-page="14">Latest updates settings</a><br>
<a href="#" data-page="15">Latest updates topics</a><br>
<a href="#" data-page="16">Home country</a><br>
<a href="#" data-page="17">New API key</a></p>
<h3>Schema</h3>
<p><a href="#" data-page="18">Types</a><br>
<a href="#" data-page="19">Type information</a><br>
<a href="#" data-page="20">Edit types</a><br>
<a href="#" data-page="21">Attributes</a><br>
<a href="#" data-page="22">Attribute information</a><br>
<a href="#" data-page="23">Aliased attribute information</a><br>
<a href="#" data-page="24">Edit attribute</a><br>
<a href="#" data-page="25">Edit aliased attribute</a><br>
<a href="#" data-page="26">Qualifiers</a><br>
<a href="#" data-page="27">Qualifier information</a><br>
<a href="#" data-page="28">Edit qualifier</a><br>
<a href="#" data-page="29">Lists</a><br>
<a href="#" data-page="30">New list</a><br>
<a href="#" data-page="31">Edit list</a><br>
<a href="#" data-page="32">Taxonomies</a><br>
<a href="#" data-page="33">New Taxonomy</a><br>
<a href="#" data-page="34">Search configuration</a><br>
<a href="#" data-page="35">Sort order</a><br>
<a href="#" data-page="36">Search by fields</a><br>
<a href="#" data-page="37">Hierarchy</a></p>
<h3>Structure</h3>
<p><a href="#" data-page="38">Navigation</a><br>
<a href="#" data-page="39">Navigation preview</a><br>
Sections<br>
<a href="#" data-page="40">Edit section</a><br>
<a href="#" data-page="41">Search subsets</a><br>
<a href="#" data-page="42">Edit search subset</a><br>
<a href="#" data-page="43">Set subset order</a></p>
<h3>System</h3>
<p><a href="#" data-page="44">Identity</a><br>
<a href="#" data-page="45">Web addresses and SSL policy</a><br>
<a href="#" data-page="46">Object web addresses</a></p>
<p><a href="#" data-page="47">Login options</a><br>
<a href="#" data-page="48">Token admin contact</a><br>
<a href="#" data-page="49">Static files</a><br>
<a href="#" data-page="50">Appearance</a><br>
<a href="#" data-page="51">Features</a><br>
<a href="#" data-page="52">External providers</a></p>
<p><a href="#" data-page="53">Email templates</a><br>
<a href="#" data-page="54">Edit email template</a></p>
<p><a href="#" data-page="55">Audit trail</a><br>
<a href="#" data-page="56">Audit configuration</a><br>
<a href="#" data-page="57">Add audit admin note</a><br>
<a href="#" data-page="58">View audit trail</a></p>
</div>

<div id="p1" style="display:none">
<h1>Users</h1>
<p>The user list is split into three categories:</p>
<ul>
	<li>ACTIVE: Users who can use the system</li>
	<li>BLOCKED: Users who are temporarily blocked from using the system</li>
	<li>DELETED: Users who have been deleted.</li>
</ul>
<p>Once a user has been created, their account will remain in the system to ensure that historical data is maintained.</p>
<h2>New user</h2>
<ul>
	<li>Click <em>New user</em> to create a new user.</li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="2">New user</a><br>
<a href="#" data-page="3">User information</a><br>
<a href="#" data-page="4">Block or delete a user</a></p>
</div>

<div id="p2" style="display:none">
<h1>New user</h1>
<ul>
	<li>First name: enter the first name of the user (compulsory)</li>
	<li>Last name: enter the last name of the user (compulsory)</li>
	<li>Email address: enter the email address of the user (compulsory)</li>
	<li>Template for welcome email: choose to automatically send a welcome email to the new user with a link for them to create their own password. If you choose to not send a welcome email, you will be given a link to send to the new user once you click on <em>Create new user</em>.</li>
</ul>
<ul>
	<li>Group membership: tick all groups to which the user is to belong</li>
	<li><em>Create new user</em>.</li>
</ul>
<h2>Initial password</h2>
<p>Unless you choose not to send a welcome email, the user will be emailed a link to set their initial password.</p>
<h2>Welcome email</h2>
<p>You can edit the welcome email using <a href="#" data-page="53">Email templates</a>.</p>
</div>

<div id="p3" style="display:none">
<h1>User information</h1>
<p>Click <em>Block</em> or <em>Delete</em> to remove access for this user.</p>
<p>Click an <em>Edit</em> button to change an aspect of a user&#8217;s account.</p>
<ul>
	<li><em>Basic information</em>: Name and email address, and if the user has been issued with an authentication token, the token serial number.</li>
	<li><em>Group membership</em>: The groups the user belongs to.</li>
	<li><em>Permissions</em>: The effective permissions for this user, taking into account all the permissions for the groups the user belongs to. Note that permissions are usually set on groups, so editing a user&#8217;s permissions usually make no statement on their permissions.</li>
	<li><em>Latest updates</em>: (may be renamed) Adjust the latest updates settings, including email frequency.</li>
	<li><em>Home country</em>: Where the user is based, used for localising the display of information, such as telephone numbers</li>
	<li><em>API keys</em>: When other software communicates with the server, it uses an API key to authenticate instead of a username and password. This section lists all the current keys.</li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="1">Users</a><br>
<a href="#" data-page="2">New user</a><br>
<a href="#" data-page="4">Block or delete a user</a><br>
<a href="#" data-page="17">New API key</a></p>
</div>

<div id="p4" style="display:none">
<h1>Block or delete a user</h1>
<p>To block or delete a user go to the user&#8217;s account in system management, and choose <em>delete</em> or <em>block</em>.</p>
<h2>Blocked users</h2>
<p>Blocked users are intended for temporarily removing access privileges to the system.</p>
<p>You can unblock an account by going to the <em>Users</em> list in systems management and choose <em>Blocked</em> to show all blocked users. Choose the user you wish to undelete from the list and choose <em>Unblock</em> from the right hand panel.</p>
<h2>Deleted users</h2>
<p>Information about deleted users is kept by the system to maintain historical information.</p>
<p>You can undelete an account by going to the <em>Users</em> list in systems management and choose <em>Deleted</em> to show all deleted users. Choose the user you wish to undelete from the list and choose <em>Undelete</em> from the right hand panel.</p>
</div>

<div id="p5" style="display:none">
<h1>Edit main details for user</h1>
<p>Enter the first name, last name and email address for the user. All fields are compulsory.</p>
<p>The email address will be the PRODUCT_NAME login for the user, and used for any emails sent by the system.</p>
</div>

<div id="p6" style="display:none">
<h1>Edit group membership</h1>
<p>The user or group is a member of all the groups which are ticked. Membership of some groups can imply membership of others, so the resulting membership shown on the information page may not correspond directly with the ticked items here.</p>
<h1>Group membership for users</h1>
<p>&#8216;Everyone&#8217; is a special group which automatically contains every single user in the system, and is not shown in this list.</p>
<h1>Group membership for groups</h1>
<p>Groups can belong to other groups, but avoid using this unless absolutely necessary as it can cause confusion.</p>
</div>

<div id="p7" style="display:none">
<h1>User groups</h1>
<p>Creating user groups enables permissions to be assigned to each group. An individual user can belong to more than one group.</p>
<h2>Groups</h2>
<p>The group list is split into two categories.</p>
<ul>
	<li>ACTIVE: Groups which have an effect on permissions, and are shown as options for user membership.</li>
	<li>DISABLED: Groups which do not have an effect on permissions etc.</li>
</ul>
<h2>Group information</h2>
<ul>
	<li>Click on a group name for more information.</li>
</ul>
<h2>New group</h2>
<ul>
	<li>Choose <em>New group</em> to create a new group.</li>
</ul>
<h2>Everyone group</h2>
<p><em>Everyone</em> is a special group which automatically contains every user. You can use this group to simplify permissions.</p>
<h4>Further help</h4>
<p><a href="#" data-page="8">New group</a><br>
<a href="#" data-page="9">Group information</a><br>
<a href="#" data-page="10">Disable a group</a></p>
</div>

<div id="p8" style="display:none">
<h1>New group</h1>
<ul>
	<li>Name: of the group</li>
	<li>Group membership: groups can belong to other groups, but avoid using this unless absolutely necessary</li>
	<li><em>Create new group</em>.</li>
</ul>
</div>

<div id="p9" style="display:none">
<h1>Group information</h1>
<p>Click an <em>Edit</em> button to edit an aspect of this group.</p>
<p>Click <em>Disable</em> to stop this group having any effect on users.</p>
<h4>Further help</h4>
<p><a href="#" data-page="10">Disable a group</a><br>
<a href="#" data-page="13">Permissions</a></p>
</div>

<div id="p10" style="display:none">
<h1>Disable a group</h1>
<p>To disable a group, find the group in system management, and choose <em>Disable</em> from the right hand panel.</p>
<p>You can enable a disabled group by going to the list of disabled groups in systems management, choosing the group you wish to enable, and choosing <em>Enable</em> from the right hand panel.</p>
</div>

<div id="p11" style="display:none">
<h1>Edit main details for a group</h1>
<ul>
	<li>Name: enter or edit the name of this group</li>
	<li><em>Save changes</em>.</li>
</ul>
</div>

<div id="p12" style="display:none">
<h1>Edit members of a group</h1>
<p>Tick the users or groups which belong to this group to quickly specify the members of a group.</p>
<p>Group membership can also be edited within each user&#8217;s account in system management.</p>
</div>

<div id="p13" style="display:none">
<h1>Permissions</h1>
<p><strong>Policies</strong> are overall statements of what a user can do in the system. These are settings which don&#8217;t relate to objects.</p>
<p><strong>Permissions</strong> control whether users can view and edit objects.</p>
<p>Policies and Permissions should be set on a group basis. Although you can set permissions on individual users, it is recommended you only do this in exceptional circumstances. Defining permissions by role rather than by individuals simplifies administration.</p>
<p>Users can belong to more than one group. Policies for a user are calculated by using all the settings for all the groups they belong to. All the Allows are summed together, then all the Denies are summed together. If a user has an Allow but not a Deny, then they are given that policy.</p>
<p>When completing the tables there is no need to specify an allow or deny for each line. If membership of a group does not affect policy, leave both the Allow and Deny boxes unchecked. Check the Allow box only if users are allowed to view it, and the Deny box only if they are definitely not allowed.</p>
<p>In general you should try and just use the Allow box. Using too many Denies becomes very confusing and make future changes more difficult. Deny is mainly useful for setting up anonymous access (without a login) to the system, where you would explicitly deny access to virtually everything.</p>
</div>

<div id="p14" style="display:none">
<h1>Latest updates settings</h1>
<p>Latest updates are the automatic email bulletins sent by PRODUCT_NAME to users showing them recent items of interest added to the system.</p>
<p>Settings should be made on a per group basis wherever possible, though settings can be made on an individual basis. Settings on an individual user&#8217;s account override those made on a group basis.</p>
<ul>
	<li><em>Send emails</em>: choose the frequency with which latest updates emails are sent (or choose to never send emails.)</li>
	<li><em>Email format</em>: choose plain or formatted.</li>
</ul>
<h2>Email template</h2>
<p>Choose the email template for your latest updates emails.</p>
<p>Choosing to <em>use setting from parent group</em> uses the parent group&#8217;s email template setting by default, where this group is a member of another group.</p>
<p>Templates can be created or amended using <a href="#" data-page="53">Email templates</a>. You can apply different templates to different groups; for example, your staff could receive an internal newsletter, but your clients receive a branded news service.</p>
<h2>Remove settings</h2>
<p><em>Reset to defaults</em> sets this user or group to use the defaults set on the parent group.</p>
<h2>Recommendation</h2>
<p>Latest update settings should be set on groups, rather than on the individual users. If you name the groups by purpose or function, this makes management of settings much easier.</p>
</div>

<div id="p15" style="display:none">
<h1>Latest updates topics</h1>
<p>The latest updates service alerts users to new items that may be of interest to them by email bulletins.</p>
<p>Topics should be set on a per group basis wherever possible, although it is possible set it on an individual basis.</p>
<p>Latest updates can be on types, subjects or any object.</p>
<ul>
	<li>choose the type, subject or object to be included in the latest updates</li>
	<li>the topic will now appear in the menu at the top of the page</li>
	<li>choose the setting for this topic:
	<ul>
		<li>offer: the user can choose to subscribe</li>
		<li>default: the user can choose to unsubscribe</li>
		<li>force: the user cannot unsubscribe.</li>
	</ul></li>
</ul>
<h2>Recommendation</h2>
<p>Latest update topics should be set on groups, rather than on the individual users. If you name the groups by purpose or function, this makes management of settings much easier.</p>
</div>

<div id="p16" style="display:none">
<h1>Home country</h1>
<p>Set the home country for a group or user to the country where they mainly work.</p>
<p>The home country controls localised displays of information, for example, telephone numbers are displayed in a format which can be dialed from a phone in the home country.</p>
<h2>Recommendation</h2>
<p>Home country should be set on groups, rather than on the individual users. If you name the groups by purpose or function, this makes management of settings much easier.</p>
<h2>Home country for user&#8217;s who are members of multiple groups</h2>
<p>Users who are members of multiple groups with different home countries, will have their home country set in preference by groups of which they are direct members, and then by the group which was created first.</p>
<h2>Home country for individual users</h2>
<p>The home country setting for an individual user overrides the group home country setting for the group to which they belong.</p>
</div>

<div id="p17" style="display:none">
<h1>New API key</h1>
<p>Click the <em>Create new API key</em> button to create an API key, then <em>Reveal API key</em> to show the API key you created.</p>
<p>API keys are equivalent to a username and password combination. Treat them as strictly confidential.</p>
<p>If you would like to write some software which communicates with Haplo, you can find the API documentation <a href="https://docs.haplo.org/dev" target="_blank" rel="noopener">in our developer documentation</a>.</p>
</div>

<div id="p18" style="display:none">
<h1>Types</h1>
<p>Every object in the system has a <strong>type</strong>, which specifies which attributes it uses, how it&#8217;s displayed, and so on.</p>
<p>Object types are split into two categories:</p>
<ul>
	<li>THINGS for types which represent entities you use in your business.</li>
	<li>CLASSIFY for types which represent categories of descriptions used to describe the &#8216;thing&#8217; objects. This includes the taxonomies and controlled lists.</li>
</ul>
<p>Click on a type to show the full information about the type.</p>
<p>Types are hierarchical. Root types specify the general characteristics of a kind of object, and sub-types adjust this to specialise the root type. Sub-types are always a <em>kind of</em> the root type.</p>
<p>To create a sub-type of a type, click on the parent type and choose <em>New sub-type</em> from the right hand panel.</p>
<p>To create a new root type, choose <em>New root type</em> from the bottom of the list of types.</p>
<h4>Further help</h4>
<p><a href="#" data-page="19">Type information</a><br>
<a href="#" data-page="20">Edit types</a><br>
<a href="#" data-page="21">Attributes</a></p>
</div>

<div id="p19" style="display:none">
<h1>Type information</h1>
<p>This shows information about the selected type.</p>
<p>Click <em>New sub-type</em> to create a type based on this type.</p>
<ul>
	<li><em>General information</em> shows the names, behaviours, and attributes used.</li>
	<li><em>Search and retrieval</em> adjusts how the search handles objects of this type.</li>
	<li><em>Display</em> controls how objects of this type are displayed</li>
	<li><em>Object creation</em> gives options for creation and editing of objects.</li>
</ul>
</div>

<div id="p20" style="display:none">
<h1>Edit type</h1>
<p>With a root type, you can edit the full information described below. Sub-types are restricted by the choices made in the root type, and can either inherit settings from their parent type or override them.</p>
<h2>General information</h2>
<ul>
	<li><em>Name</em>: choose a name for the type</li>
	<li><em>Search names</em>: choose a short, lower case, name for use when restricting your search to specific types. To add multiple search names separate them with a comma. Spaces are allowed in these names. Consider including singular and plural versions if you think your users will use them in constraints.</li>
	<li><em>Behaviours</em>: tick if the item is a classification type, is hierarchical, represents a physical item, or if the user should be asked to choose a section before creating a new item. See <a href="#" data-page="37">Hierarchy</a> for notes on setting up hierarchical types.</li>
</ul>
<h2>Attributes (root type)</h2>
<ul>
	<li>Tick the attributes you want listed by default for this type and it&#8217;s sub-types.</li>
	<li>Drag the ticked attributes into the order you want them displayed in this type&#8217;s object editor.</li>
	<li>Set a descriptive attribute if the Title of an object is not enough to identify the object, and this attribute is needed to remove any ambiguity from a link to the object. <em>Use descriptive attributes with care</em>. If in doubt, do not use a descriptive attribute.</li>
</ul>
<h2>Attributes (sub-type)</h2>
<ul>
	<li>Untick any attributes you don&#8217;t want to use for this sub-type.</li>
	<li>You cannot add any attributes which aren&#8217;t used by the root-type.</li>
</ul>
<h2>Search and retrieval</h2>
<ul>
	<li><em>Relevancy weight</em>: the normal, and default, relevancy weighting in searches is 1. Enter a different number if this type should be ranked higher or lower than average in searches. You can use two decimal places.</li>
</ul>
<ul>
	<li><em>Term inclusion specification</em>: Controls which terms are included from this object into another object which links to it. See <a href="#" data-page="59">Term inclusion specification</a> for more information.</li>
</ul>
<h2>Display</h2>
<ul>
	<li><em>Show linked objects under caption</em>: tick to display at the bottom of this object, all other objects which are linked to this object. Specify the caption underneath which the objects will display.</li>
</ul>
<ul>
	<li><em>Render type_: rendering determines how objects display. Choose a render style for this type. If PRODUCT</em>NAME does not have a special rendering for the specified type, the default <em>generic</em> type will be used.</li>
</ul>
<ul>
	<li><em>Render icon</em>: choose an icon to represent this type, used in search results and (usually) at the top of the object page.</li>
</ul>
<ul>
	<li><em>Category</em>: specify the background colour with which objects of this type will display in search results. The category colours are edited in the appearance menus.</li>
</ul>
<h2>Object creation</h2>
<ul>
	<li><em>Show this type in subtypes menu</em>: Untick to stop this type from being selected in the editor. Use this for depreciating types you don&#8217;t want people to use any more, or for preventing users from creating objects using the root type.</li>
</ul>
<ul>
	<li><em>Default section</em>: specifies the default section in which new objects of this type will be created.</li>
</ul>
<ul>
	<li><em>Allowed sections</em>: (root types only) the sections in which objects of this type may be created.</li>
</ul>
<ul>
	<li><em>First position to offer creating objects of this type</em>: (root types only) determines where this type is offered on the Add page or whether the user has to click through to a further page. Use &#8220;don&#8217;t offer it anywhere&#8221; to deprecate a root type and all it&#8217;s sub-types.</li>
</ul>
<ul>
	<li><em>Default sub-type</em>: (root types only) Which type will be offered by default when creating a new object.</li>
</ul>
</div>

<div id="p21" style="display:none">
<h1>Attributes</h1>
<p>Attributes specify the fields used to describe objects in the object editor. Each <strong>type</strong> specifies the attributes used to describe objects of that type.</p>
<p>Click on an attribute name to show information about it.</p>
<p><em>Aliased attributes</em> are shown, indented, under the attribute they alias.</p>
<p>Click on  <em>New attribute</em> at the bottom of the attributes list to create a new attribute &#8212; but consider aliasing another attribute if it&#8217;s more appropriate.</p>
<h2>Aliased attributes</h2>
<p>In some situations, while an Attribute accurately describes the data entered, the name is inappropriate in context. For example, the <em>Subject</em> attribute is used for People objects so that you can find relevant people to talk to about the subject, but should be presented to the user as <em>Expertise</em>. You can&#8217;t say that a person is &#8216;about&#8217; a subject!</p>
<p>In this case, you use an aliased attribute to rename the field in the object editor, so it makes sense and accurately describes what you need to enter.</p>
<h2>Special attributes</h2>
<p><strong>Title</strong> is the only special attribute. Every object must have a title, to display as links to objects and in search results. However, &#8216;title&#8217; is not always an appropriate field name, so you can alias it. For example, People objects use the <em>Name</em> alias of <em>Title</em>, and use the <em>Person&#8217;s name</em> data type to help enter names accurately.</p>
<h4>Further help</h4>
<p><a href="#" data-page="22">Attribute information</a><br>
<a href="#" data-page="23">Aliased attribute information</a><br>
<a href="#" data-page="24">Edit attribute</a><br>
<a href="#" data-page="25">Edit aliased attribute</a></p>
</div>

<div id="p22" style="display:none">
<h1>Attribute information</h1>
<p>Attributes are the basic definitions for the data entered in objects.</p>
<p>The most important parts of the attribute definition are the name, which is used in the user interface, the data type, which specifies what kind of information to store in this field, and the qualifiers used.</p>
<p>Click <em>Edit</em> to edit the attribute, or <em>New alias</em> to create an alias.</p>
<h4>Further help</h4>
<p><a href="#" data-page="21">Attributes</a><br>
<a href="#" data-page="24">Edit attribute</a></p>
</div>

<div id="p23" style="display:none">
<h1>Aliased attribute information</h1>
<p>An aliased attribute is another name for an Attribute, used when displaying an object and in the editor.</p>
<p>However, aliased attributes do more than just changing the name. You can use them to change the kind of data the field contains. This can be useful when configuring PRODUCT_NAME to work with a standardised schema.</p>
<p>This is performed by <em>aliasing on</em> qualifiers, data types and the types of objects linked in this attribute. When determining whether an value in an object should be displayed and edited by an alias, all these factors must match.</p>
<h2>Data storage with aliased attributes</h2>
<p>The &#8216;base&#8217; attribute is aliased, so that the data is stored with the base attribute in the underlying object. However, when editing and displaying the object, the aliased attribute is used instead.</p>
<h4>Further help</h4>
<p><a href="#" data-page="25">Edit aliased attribute</a></p>
</div>

<div id="p24" style="display:none">
<h1>Edit attribute</h1>
<ul>
	<li><em>Attribute name</em>: give a brief descriptive name of one or two words for this attribute. This is used in the object editor.</li>
	<li><em>Search name</em>: used in the search constraints, for example, title:Hamlet (here &#8216;title&#8217; is the search constraint, specified by the search name of the <em>Title</em> attribute.) This should contain only lower case letters, numbers and hyphens. By convention it is the same as the attribute name in lower case and with spaces replaced by hyphens.</li>
	<li><em>Example</em>: shows how data should be entered into this attribute&#8217;s field, shown in the editor when <em>Show examples</em> is ticked.</li>
	<li><em>Relevancy weight_: how important this attribute should be considered when sorting search results for relevancy. 1.0 is normal weighting, 0.5 is half as relevant so would come lower down the search results, 2.0 is twice as relevant. The relevancy weighting range spans from 0.01 to infinity (though within PRODUCT</em>NAME the range used tends to be between 0.25 and 100.) Setting a relevancy weight of 0 excludes this attribute from indexing.</li>
	<li><em>Data type</em>: choose the type of data for this field from the drop down menu. This specifies the type of data to be entered in the field. As well as the text options, the most important data types are
	<ul>
		<li><strong>Link to other object</strong>. Most attributes should use the auto-completing &#8216;Lookup&#8217; option, but where you are choosing from a very limited number of classification objects, you can use a drop down menu, radio buttons or checkboxes.</li>
		<li><strong>File</strong> (the option to upload one or more files which are &#8216;attached&#8217; to the object)</li>
	</ul></li>
	<li><em>Qualifiers allowed</em>: to set the qualifiers which will be offered for this attribute
	<ul>
		<li><em>Qualifiers not used on this attribute</em>: choose this if there are no relevant qualifiers</li>
		<li><em>Allow any qualifier</em>: use if any qualifier can be chosen for this attribute (unlikely to be used)</li>
		<li><em>Allow the qualifiers specified below</em>: choose the qualifiers allowed from the list, add a relevancy weighting for each qualifier (which takes precedence over the general weighting assigned to the attribute)</li>
	</ul></li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="21">Attributes</a><br>
<a href="#" data-page="22">Attribute information</a><br>
<a href="#" data-page="23">Aliased attribute information</a></p>
</div>

<div id="p25" style="display:none">
<h1>Edit aliased attribute</h1>
<p>The &#8216;base&#8217; attribute is shown at the top of the form.</p>
<ul>
	<li><em>Aliased attribute name</em>: for use when display objects and in the editor</li>
	<li><em>Search name</em>: used in the search constraints. This should contain only lower case letters, numbers and hyphens. By convention it is the same as the aliased attribute name in lower case and with spaces replaced by hyphens.</li>
	<li><em>Example</em>: shows how data should be entered into this aliased attribute&#8217;s field</li>
	<li><em>Alias on qualifier</em>: tick and choose the qualifiers to use a different set of qualifiers from the base attribute.</li>
	<li><em>Alias on type</em>: tick and choose the type of data for this field from the drop down menu to use a different data type from the base attribute.</li>
	<li><em>Alias on linked type</em>: tick and choose Types of objects, to be used if the &#8220;Link to object&#8221; data type is specified above or by the base attribute.</li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="23">Aliased attribute information</a></p>
</div>

<div id="p26" style="display:none">
<h1>Qualifiers</h1>
<p>Qualifiers are used to add detail to an attribute, for example, specifying that a title of a book is an <em>alternative</em> title.</p>
<p>Each attribute specifies which qualifiers, if any, can be used with that attribute, and whether the use of that attribute affects the relevancy of the data. A qualifier can be used with any number of attributes.</p>
<p>A qualifier should not change the meaning of the attribute. An alternative title is still a title, and it makes sense even if you remove the qualifier.</p>
<p>Click on a qualifier to edit it, or choose <em>New qualifier</em>.</p>
<h4>Further help</h4>
<p><a href="#" data-page="27">Qualifier information</a><br>
<a href="#" data-page="28">Edit qualifier</a></p>
</div>

<div id="p27" style="display:none">
<h1>Qualifier information</h1>
<p>The <em>Name</em> is shown when displaying and editing objects, and the <em>Search name</em> is used in search constraints.</p>
<h4>Further help</h4>
<p><a href="#" data-page="26">Qualifiers</a><br>
<a href="#" data-page="28">Edit qualifier</a></p>
</div>

<div id="p28" style="display:none">
<h1>Edit qualifier</h1>
<ul>
	<li><em>Name</em>: give a brief descriptive name of one or two words for this qualifier. This will be displayed to the user when an object is displayed and in the editor.</li>
	<li><em>Search name</em>: enter the search name for the qualifier to be used in the search constraints. This should contain only lower case letters, numbers and hyphens. By convention it is the same as the qualifier name in lower case and with spaces replaced by hyphens.</li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="26">Qualifiers</a></p>
</div>

<div id="p29" style="display:none">
<h1>Lists</h1>
<p>Use <em>Lists</em> to offer drop down menus of choices in the object editor.</p>
<p>Lists are constructed from:</p>
<ul>
	<li>A classification <em>type</em> for the &#8216;choice objects&#8217;.</li>
	<li>Objects of this type, which are usually created in the special <em>classification</em> section. Apart from this, the choice objects are completely normal objects in the system.</li>
	<li>An <em>attribute</em> which has a data type of &#8220;link to object&#8221;, and is set to link to objects of the classification type.</li>
</ul>
<p>This list editor is a convenient way of setting up the type and attribute, and then creating the objects in the classification section.</p>
<p>After creating a list and adding some choice objects, add the attribute to the Types which will use this attribute. As a normal attribute is used as part of the list, any new list created automatically appears in the attributes list.</p>
<p>To create a new list, choose <em>New list</em>.</p>
<h4>Further help</h4>
<p><a href="#" data-page="30">New list</a><br>
<a href="#" data-page="31">Edit list</a></p>
</div>

<div id="p30" style="display:none">
<h2>New list</h2>
<p>To create a new list, enter the name of the list here and click <em>Create new List</em>.</p>
<p>This will</p>
<ul>
	<li>Create a Classification Type with the name of the list.</li>
	<li>Create an Attribute with the name of the list, set to be a drop down list of all objects of the type.</li>
</ul>
<p>After creating the list,</p>
<ul>
	<li>Add choice objects to fill the list on the next page</li>
	<li>Add the attribute to the Types you want to describe with this list of choices.</li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="29">Lists</a><br>
<a href="#" data-page="31">Edit list</a></p>
</div>

<div id="p31" style="display:none">
<h1>Edit list</h1>
<p>This page shows the names of the Attribute and Object type which make up this lists, along with the objects which form the entries in the list.</p>
<h2>Add choice objects</h2>
<p>The Choice objects form the entries of the list, and are created in the special <em>classification</em> section. They are normal objects, and have their own page which will list everything linked to them, forming a list of the objects described by this choice.</p>
<p>To add new choices, fill in the Title (which will be the entry in the drop down list in the editor) and any alternative titles for use in searching.</p>
<p>Click <em>Quick add</em> to quickly add the object.</p>
<h2>Edit entries</h2>
<p>You can edit the choice objects by clicking the <em>edit</em> links next to the name. The editor will pop up in a new window. If you have defined extra attributes for your classification type, they&#8217;ll be editable here.</p>
<p>Additional alternative titles can be added by clicking the + to the left of title and choosing <em>Alternative</em> from the qualifiers drop down menu.</p>
<h2>Deleting entries</h2>
<p>Use the <em>del</em> button to delete a choice object. You can only delete a choice if no object in the system is described with it.</p>
<h4>Further help</h4>
<p><a href="#" data-page="29">Lists</a><br>
<a href="#" data-page="30">New list</a></p>
</div>

<div id="p32" style="display:none">
<h1>Taxonomies</h1>
<p>Taxonomies are used for hierarchical description of items. They&#8217;re set up using:</p>
<ul>
	<li>A hierarchical classification <em>Type</em>, which describes the attributes of each taxonomy term.</li>
	<li>A taxonomy <em>root object</em>, which has the given Type, and names the taxonomy.</li>
	<li>One or more <em>Attributes</em> which use the &#8220;link to object&#8221; data type, and are set to link to objects defined by the Type.</li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="33">New Taxonomy</a></p>
</div>

<div id="p33" style="display:none">
<h1>New taxonomy</h1>
<p>Taxonomies should be created sparingly, as using too many could confuse when describing items.</p>
<h3>Taxonomy name</h3>
<p>Use a short name for the taxonomy. This will be used as the top level term of the taxonomy in the user interface, such as Browse and the item editor, but this highest level term can&#8217;t be used to describe an item.</p>
<h3>Type</h3>
<p>You can have more than one type of taxonomy. When setting up an taxonomy attribute, you choose which of the taxonomy types the attribute will use. By having multiple taxonomy types, you can use different sets of taxonomies in different attributes.</p>
<p>For flexibility, tend towards creating a new type for each taxonomy, unless the taxonomies are definitely related.</p>
<p>If you create a new type and attribute pair, you will need to add this attribute to other types before you can use it to describe items.</p>
<h2>Editing your taxonomy</h2>
<p>The automatic taxonomy creation sets up a type and attribute. You can edit any of these using the normal type, attribute editors in System Management.</p>
</div>

<div id="p34" style="display:none">
<h1>Search configuration</h1>
<p><a href="#" data-page="35">Sort order</a><br>
<a href="#" data-page="36">Search by fields</a></p>
</div>

<div id="p35" style="display:none">
<h1>Sort order</h1>
<p>Objects which use the <em>Person&#8217;s name</em> data type for their title field, such as <em>People</em>, are generally sorted ignoring the <em>Title</em> part of the name, but otherwise as they are written.</p>
<p>However, in some circumstances, it is useful to sort Western names by last name, rather than first name.</p>
<p>Use this option with care, as it may confuse users. Instead, consider adjusting the data type options to use &#8220;Western List&#8221; format in which names are entered, displayed and sorted in <em>Last, First</em> order.</p>
</div>

<div id="p36" style="display:none">
<h1>Search by fields configuration</h1>
<p>Select the attributes (fields) which are most useful to your users. They are available by clicking the &#8220;Fields &amp; options&#8221; tab below the search box.</p>
<p>Fields are presented to the user with the user interface for non-aliased attributes. The label includes the names of all the aliases.</p>
</div>

<div id="p37" style="display:none">
<h1>Hierarchy</h1>
<p>PRODUCT_NAME supports two kinds of hierarchical items:</p>
<ul>
	<li>Classification, as taxonomies for describing items</li>
	<li>Parent/child relationships between items</li>
</ul>
<h2>Classification hierarchy</h2>
<p>Select the <em>classification</em> and <em>hierarchy</em> behaviours when defining the types.</p>
<p>Create an attribute which links to objects of this type. It will use the hierarchical UI in the editor.</p>
<p>Create a new taxonomy based on this type by choosing TOOLS then Manage taxonomies. This taxonomy will then appear in the BROWSE list.</p>
<h2>Parent/child relationships</h2>
<p>For parent/child relationships in items,</p>
<ul>
	<li>Select the <em>hierarchy</em> behaviour</li>
	<li>Add the <em>Parent</em> attribute, or an alias</li>
</ul>
<p>This will allow the user to specify the parent of an object, which must be of the same type.</p>
</div>

<div id="p38" style="display:none">
<h1>Navigation</h1>
<p>The navigation links on the left of each page are divided into groups by separators. The first link in each group is used as the heading, and shown in bold.</p>
<p>This navigation editor allows you to choose which links are displayed to members of specified groups, and in which order they appear.</p>
<h2>Separators</h2>
<p>Separators divide up the links. If there are no links visible between separators, then nothing is displayed.</p>
<p>If <em>Collapse group below</em> is checked, then the entries below will only be displayed if one of the links is selected. This creates a more compact display.</p>
<p>Click <em>Add separator</em> to add a new separator to the navigation.</p>
<h2>Objects</h2>
<p>You can add a link to an object in the system, using the <em>Add object</em> button. This lists all the entries in the Tray. You can also use this button to open a new window to find the required object.</p>
<p>The object will only be displayed if the user has permission to read it, regardless of the group you choose.</p>
<h2>Links</h2>
<p>As an advanced option, you can also add links to any page in the system. Links must begin with &#8216;/&#8217;.</p>
<p>Click <em>Add link</em> to add a link.</p>
</div>

<div id="p39" style="display:none">
<h1>Preview navigation</h1>
<p>To assist with visualising your navigation, you can display the navigation as it would be seen by a member of a group.</p>
<p>Note that this &#8220;single group&#8221; view may be too simplistic to accurately preview what your users will see. The results can be affected by:</p>
<ul>
	<li>Multiple groups &#8212; users are likely to belong to more than one group, and this preview only looks at one group.</li>
	<li>Permissions &#8212; if a user does not have permission to view an object, it will not be shown to them.</li>
</ul>
<p>This tool does take into account group membership, so if a group is a member of another group, the preview will reflect this.</p>
</div>

<div id="p40" style="display:none">
<h1>Edit section</h1>
<ul>
	<li><em>Name</em>: enter a descriptive name for the section. This is the name displayed in the user interface. Make it short and easy to understand, and plural where appropriate.</li>
	<li><em>URL</em>: this is the part of the URL for objects in this section. It cannot include spaces. By convention it should be all lower case and singular. You can use hyphens and underscores. You cannot use any of the following names:
	<ul>
		<li>do</li>
		<li>search</li>
		<li>feed</li>
		<li>api</li>
		<li>file</li>
		<li>blog</li>
	</ul></li>
	<li><em>Notes</em> (optional): Enter any required description of the purpose of this section. It will be displayed if the user is asked to make an explicit choice of section when creating a new item.</li>
	<li><em>Features</em>:
	<ul>
		<li><em>Automatically publish new versions of documents immediately on upload</em>: enabling this means any new versions of documents in this section will be automatically published when checked in. If this feature is not used, users can choose which version is published.</li>
	</ul></li>
</ul>
<h2>Creating new sections</h2>
<p>When you create a new section, choose another section from the drop down model to act as the template for permissions and search subset membership. Permissions will be copied from the section, and it will be added to the search subsets.</p>
<p>You can edit these later in the Group and Search subsets menus.</p>
</div>

<div id="p41" style="display:none">
<h1>Search subsets</h1>
<p>Search subsets enable users to search within a pre-defined subset of sections. The subsets appear in the <em>Search in</em> drop down menu on the main search screen.</p>
<p>A search subset will only be offered to a user if they have search permission within at least one of the sections. Even if a section is within the selected search subset, it will only be searched if the user has permission.</p>
<p>Therefore, you can create an <em>Everything</em> search subset which contains all the sections. Any user can select it, and they will search everything that they have permission to search.</p>
<h2>Managing search subsets</h2>
<p>To edit a search subset:</p>
<ul>
	<li>choose the search subset</li>
	<li>choose <em>Edit</em> in the right hand panel.</li>
</ul>
<p>To set the order in which the subsets appear in the <em>Search in</em> drop down menu, click <em>Set subset order</em>.</p>
<p>To create a new search subset, click <em>New search subset</em>.</p>
<h4>Further help</h4>
<p><a href="#" data-page="42">Edit search subset</a><br>
<a href="#" data-page="43">Set subset order</a></p>
</div>

<div id="p42" style="display:none">
<h1>Edit search subset</h1>
<ul>
	<li><em>Name</em>: enter a short, descriptive name for the search subset</li>
	<li>Tick all the sections to be included in the search subset.</li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="41">Search subsets</a></p>
</div>

<div id="p43" style="display:none">
<h1>Search subset ordering</h1>
<p>The ordering priority sets the order in which search subsets appear in the &#8220;Search within&#8221; drop down menu on the Search page.</p>
<p>To change the order, change the numerical value in the Ordering priority column. The first subset in the list, the one with the lowest number in the Ordering priority column, is the default subset. This should normally be called &#8220;everything&#8221; and include all sections which users would most often want to search.</p>
<p>A subset is only offered to a user if they have read and search permissions on at least one section specified in the search.</p>
<p>If there are no subsets, then the user searches all sections where they have read and search permissions.</p>
<h4>Further help</h4>
<p><a href="#" data-page="41">Search subsets</a></p>
</div>

<div id="p44" style="display:none">
<h1>Identity</h1>
<p>Choose <em>Edit</em> to edit an identity option.</p>
<h2>System name</h2>
<p>The name of the system, generally the name of the organisation using this PRODUCT_NAME.</p>
<h2>Administrator email address</h2>
<p>The email address of the person responsible for the system at the client organisation. Unless overridden by an Email Template, this will be used as the &#8216;from&#8217; address on emails sent by the system.</p>
<h2>Web addresses and SSL policy</h2>
<p>Options for the web address used to access this PRODUCT_NAME.</p>
<h2>Object web addresses</h2>
<p>Options for the URLs for the objects stored in this system.</p>
<h2>Copyright notice</h2>
<p>The copyright notice editor will open in a new window. The copyright notice is linked to the bottom right of every page in PRODUCT_NAME.</p>
</div>

<div id="p45" style="display:none">
<h1>System addresses</h1>
<p>The application hostname chooses which of the available addresses is used for the system. All other hostnames are used as aliases and redirected to the application hostname.</p>
<p><strong>Warning</strong>: changing these settings will invalidate URLs configured in external systems.</p>
<p>There is a separate hostname used for SSL encryption to match the certificate name. Use the clear hostname for branding the URLs you give to your staff and clients. If it&#8217;s important to use your company URL, uncheck the &#8220;Visible URLs&#8221; checkbox so that URLs in emails use the clear hostname. They&#8217;ll be redirected to the SSL hostname if &#8220;Logged in users&#8221; is checked.</p>
<p>Additional hostnames can be added to this list by PRODUCT_NAME Support, if required, for example, to brand the web address to match your company URL. For example, if you are <em>example.com</em>, you could use <em>oneis.example.com</em>. This requires DNS settings to be changed, and your own branded URLs can&#8217;t be used with SSL for technical reasons.</p>
</div>

<div id="p46" style="display:none">
<h1>Edit URL slug length</h1>
<p>&#8216;Slugs&#8217; are the text automatically appended to object web addresses (URLs) based on the object&#8217;s title. When you email a URL to a colleague, they will have an idea of what they&#8217;ll see before they click on it.</p>
<p>The slug should be long enough to give a description of the object, but not so long that the URL becomes unwieldy.</p>
<p>The default slug length of 32 is recommended.</p>
<p>Set to 0 to disable slugs.</p>
</div>

<div id="p47" style="display:none">
<h1>Auto-login</h1>
<p>Auto-login allows users to automatically log into the system without needing to enter their username and password, after their first successful login.</p>
<p>Enabling auto-login enabled the <em>&#8220;In future, automatically log in on this computer&#8221;</em> option on the login page.</p>
<p><strong>Auto-login should only be enabled if users can be trusted to only enable auto-login on computers to which only they have access.</strong> Users should not enable auto-login on public or otherwise insecure computers.</p>
<p>To enable auto-login:</p>
<ul>
	<li>Click <em>Edit</em></li>
	<li>Tick <em>Enable auto-login</em></li>
	<li><em>Set auto-login</em>.</li>
</ul>
<h2>Auto-login invalidation</h2>
<p>If you suspect that a user has accidently used the auto-login option on a public or otherwise insecure computer, you can invalidate all auto-login credentials to prevent unauthorised access:</p>
<ul>
	<li>Click <em>Invalidate all auto-login credentials</em>.</li>
</ul>
</div>

<div id="p48" style="display:none">
<h1>Token admin contact</h1>
<p>Set the contact details which will be displayed to users when they encounter problems with their authentication token.</p>
<p>These contact details will only be shown to users who have successfully entered their password.</p>
</div>

<div id="p49" style="display:none">
<h1>Static files</h1>
<p>Static files, such as your logo, are used to customise the look of the application as part of the Appearance editor.</p>
<ul>
	<li>Choose the file to upload from your computer, and click <em>Upload</em>.</li>
	<li>The file will be listed at the top of the static files page.</li>
</ul>
<p>There is a 64k limit on the size of these files.</p>
<p><strong>The filenames of images are re-written to use a short path and number only.</strong> Refer to the pathname in the table at the top of the static files page, and use the correct path in your HTML snippets.</p>
</div>

<div id="p50" style="display:none">
<h1>Appearance</h1>
<h2>Header</h2>
<p>The header area at the top of your PRODUCT_NAME is customised using the Header HTML and Extra CSS fields.</p>
<h3>Display your logo</h3>
<p>To display your logo, first upload it to the <em>Static files</em> area in System Management.</p>
<ul>
	<li>Enter the following into the &#8220;Header HTML&#8221; box:</li>
</ul>
<pre>
&lt;div id="h"&gt;&lt;a href="/"&gt;Your tagline&lt;/a&gt;&lt;/div&gt;
</pre>
<ul>
	<li>Enter the following into the Extra CSS box:</li>
</ul>
<pre>
#h {
    background-image: url(/~/1.png);
    height: 64px;
}
</pre>
<p>Ensure the image source pathname, ie /~/1.png, matches the path name shown on the <em>Static files</em> page for the logo you wish to embed.</p>
<p>Adjust the height to match the height of your logo image.</p>
<h2>Colours</h2>
<ul>
	<li>Enter your required colour hex codes in the table</li>
	<li><em>Apply new colours</em></li>
</ul>
<h3>Reset colours</h3>
<p>To reset your colours to the default ONES colour scheme, choose:</p>
<ul>
	<li><em>Reset colours</em>.</li>
</ul>
</div>

<div id="p51" style="display:none">
<h1>Feature names</h1>
<ul>
	<li>Specify the names for features listed. This allows you to change the names of these features in the user interface to match the names already used in your organisation.</li>
</ul>
</div>

<div id="p52" style="display:none">
<h1>External providers</h1>
<p>Choose which external providers are used by PRODUCT_NAME.</p>
</div>

<div id="p53" style="display:none">
<h1>Email templates</h1>
<p>Email templates allow you to customise the emails sent by PRODUCT_NAME. You need knowledge of HTML and CSS to edit these templates, and it&#8217;s recommended you seek the assistance of a designer to get the best results.</p>
<h2>Edit an email template</h2>
<ul>
	<li>Choose the email template from the list and click on <em>Edit</em> in the right hand panel.</li>
</ul>
<h2>Remove email template from menu</h2>
<ul>
	<li>Choose the email template from the list and click on <em>Remove from menu</em> in the right hand panel.</li>
</ul>
<p>Removing a template from the menu stops it being selected in the future. The template will still be used if currently selected for any feature, removing it from the menu marks it as not intended for use.</p>
<h2>Restore to menu</h2>
<ul>
	<li>Choose the email template from the list and click on <em>Restore to menu</em> in the right hand panel.</li>
</ul>
<h2>New email template</h2>
<ul>
	<li>Choose <em>New email template</em> to create a new email template.</li>
</ul>
<h4>Further help</h4>
<p><a href="#" data-page="54">Edit email template</a></p>
</div>

<div id="p54" style="display:none">
<h1>Edit email template</h1>
<p>Editing an email template requires knowledge of HTML and CSS.</p>
<p>By default, the colours used in the email are chosen from the colours used for the PRODUCT_NAME sytem.</p>
<ul>
	<li><em>Name</em>: of the template, used to choose the template in other parts of the system management.</li>
	<li><em>Description</em>: notes about the template (only viewable to  administrators)</li>
	<li><em>Purpose</em>: What the template will be used for. Some choices of template will only include templates for a given purpose.</li>
	<li><em>From (email address)_: the &#8216;from&#8217; address on the sent emails (the default is the administrator of your PRODUCT</em>NAME). Set this to a valid address for the responsible individual in your organisation.</li>
	<li><em>From (name)</em>: the name shown in the from field of the email</li>
	<li><em>Extra CSS</em>: Additional CSS included in the HTML, to customise the look of the email.</li>
	<li><em>Branding (plain)</em>: Text which appears at the top of the plain text version of this email. Use the interpolated strings listed above where required.</li>
	<li><em>Branding (HTML)</em>: HTML which appears at the top of the HTML version of this email. Use the interpolated strings listed above where required.</li>
	<li><em>Header</em>: HTML for the header of the email. This will be converted into plain text for the text version. Use the interpolated strings listed above where required.</li>
	<li>The generated text for the email will be inserted between the header and footer.</li>
	<li><em>Footer</em>: HTML for the footer of the email. This will be converted into plain text for the text version. Use the interpolated strings listed above where required.</li>
</ul>
<h2>Preview</h2>
<ul>
	<li><em>Preview (HTML)</em>: preview the HTML email on screen below the email template editor</li>
	<li><em>Preview (plain)</em>: preview the plain email on screen below the email template editor</li>
	<li><em>Send preview email</em>: sends a preview email to you.</li>
</ul>
</div>

<div id="p55" style="display:none">
<h1>Audit trail</h1>
<p>The audit trail keeps a record of all important activities and changes made in your application.</p>
<h4>Further help</h4>
<p><a href="#" data-page="56">Audit configuration</a><br>
<a href="#" data-page="57">Add audit admin note</a><br>
<a href="#" data-page="58">View audit trail</a></p>
</div>

<div id="p56" style="display:none">
<h1>Auditing configuration</h1>
<p>By default, the audit trail only records changes. However, for some applications, it is useful to record when users read information.</p>
<p>You can configure the application to audit:</p>
<ul>
	<li>Item display: Whenever an item is displayed to a user.</li>
	<li>Searches: Any search made by a user. Note that a search will display titles and summaries of the found items.</li>
	<li>File downloads: Whenever a file is downloaded by a user.</li>
</ul>
<p>These apply whether the user reading is information in the main web interface, API access, or mobile app.</p>
<p>Exports of information, and changing these settings are always audited.</p>
<h2>Plugins and auditing</h2>
<p>Plugins can implement their own rules for auditing these optional entries, and the configuration you set is only a default.</p>
<p>Plugins should declare their rules for auditing, and these will be displayed on the configuration page. However, accuracy cannot be guaranteed, so you should check with the authors of plugins if you have any doubts.</p>
</div>

<div id="p57" style="display:none">
<h1>Add audit admin note</h1>
<p>Sometimes it is useful to annotate the audit trail, for example, to explain recent activity or the intent of configuration in the audit trail. Adding an admin note to the trail allows you to add a human readable note.</p>
<p>Because the audit trail is write-only, any note you enter is not editable and it is not possible to delete it.</p>
</div>

<div id="p58" style="display:none">
<h1>View audit trail</h1>
<p>The audit trail viewer allows you to see all audited activity within your application.</p>
<p>To find entries of particular interest, use the filters along the top of the listing.</p>
<ul>
	<li>Date: Enter a date in YYYY-MM-DD format to filter to all audit entries on or before that date.</li>
	<li>Type: The kind of audit entry to display.</li>
	<li>User: Show only activities of a given user. You only need to enter a partial name.</li>
	<li>Item: Show only entries about a particular item in the system. Use the reference from the item&#8217;s URL.</li>
	<li>Entity: If you have filtered by a kind, you can narrow it down to a particular entity.</li>
</ul>
</div>

<div id="p59" style="display:none">
<h1>Term inclusion specifications</h1>
<p>When an object links to another object, the search behaves as if some of the text from the linked object appears in the linking object. So if an object linked to another object with a title &#8216;Example&#8217;, everything will work as if the text &#8216;Example&#8217; was included in an attribute.</p>
<p>The end result is that the search will work as a user expects. They see &#8216;Example&#8217; in an attribute of an object, and searching for &#8216;Example&#8217; will find that object.</p>
<p>A &#8220;term inclusion specification&#8221; allows you to control exactly what terms (text) is included in the linking object.</p>
<p>Text from the <em>title</em> attribute is always included, and this cannot be overridden since it would yield unexpected results. But you can use the specification to include other fields and change the relative weightings.</p>
<p>Each line of the specification looks like</p>
<pre>   weighting attribute-name</pre>
<p>Where <em>weighting</em> is a number, and <em>attribute-name</em> is the search name of an attribute.</p>
<p>If an attribute is mentioned, any terms from the text in that attribute is included. For example,</p>
<pre>   2.0 title
   0.25 notes</pre>
<p>includes text from the title, boosted in relevance, and from the notes, with reduced relevance.</p>
<p>Term inclusion can only include terms from text values. It won&#8217;t include anything from, for example, links to other objects.</p>
<p>Use term inclusion with caution, as it may cause your search results to include unexpected items.</p>
</div>

