<div id="z__management_finish">
  <a href="/" target="_top">Finish</a>
</div>
<div id="z__management_help">
  <a href="#" id="z__management_help_link">Hide help</a>
</div>
<div id="z__management_heading">Haplo System Management</div>
