<div id="z__management_intro">
  <div>
    <p id="z__management_intro_logo"><img src="/images/haplo-trademark-logo.svg" width="165" height="48"></p>
    <p><b>System Management</b><p>
    <p>The help system on the left will guide<br>you while using system management.</p>
    <p><a href="https://docs.haplo.org/setup" target="_blank" rel="noopener">Setup Manual</a></p>
  </div>
</div>
