<div id="z__management_intro">
  <div>
    <p id="z__management_intro_logo">HAPLO</p>
    <p><b>System Management</b><p>
    <p>The help system on the left will guide<br>you while using system management.</p>
    <p><a href="http://docs.haplo.org/setup" target="_blank">Setup Manual</a></p>
  </div>
</div>
