<div id="z__management_intro">
  <div>
    <p id="z__management_intro_logo"><img src="/images/haplo-trademark-logo.svg" width="165" height="48"></p>
    <p><b>System management</b><p>
    <p>The help system on the left will guide<br>you while using system management.</p>
    <p><a href="https://docs.haplo.org/app/information" target="_blank" rel="noopener">General setup manual</a><br>Please refer to the documentation<br>for this specific application.</p>
  </div>
</div>
