<%
  @page_title = 'Copyright Notice'

# User copyright statement
%><%= render_doc_as_html(KTextDocument.new(KApp.global(:copyright_statement) || '<doc></doc>'), KObjectStore.store) %>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="z__document">
  <h2>Software Copyright</h2>
  <%
    if KApp.global(:product_name) != 'Haplo'
      %><p><%= h(KApp.global(:product_name)) %> is a product built on the Haplo Information Management Platform (Haplo Software).</p><%
    end
    # Use nofollow to make sure Google doesn't think deployment servers are a link farm and
    # stop link:www.haplo-services.com etc returning all the copyright pages.
  %>
  <p><small>The <a href="https://haplo.org" rel="nofollow">Haplo Software</a> is provided by <a href="https://www.haplo.com" rel="nofollow">Haplo Services Ltd</a>, and is copyright &copy; Haplo Services Ltd 2006&nbsp;&mdash;&nbsp;<%= Time.new.year.to_s %>. All rights in the Haplo Software are expressly reserved. The Haplo Software is open source and is licensed to you under the terms of the <a href="http://mozilla.org/MPL/2.0/" rel="nofollow">MPLv2</a>. Haplo Services Ltd asserts its ownership of the design of Haplo.</small></p>
</div>
