<%
  @page_title = 'Other classification types'
-%>

<%= sys_mng_header %>

<p>Some of the defined classification types are not used with attributes.</p>

<p>Classification objects can be added and will be found by searching, but there is no way to link objects to them without creating an attribute.</p>
