<!DOCTYPE html>
<html lang="<%= @locale.locale_id %>"><head>
<title><%= h(@page_title) %></title>
<%= render(:partial => 'shared/client_side_resources') -%>
</head><body><%= @content_for_layout %></body></html>