<% if @warning_behaviours_on_control_by_types %>
<p class="z__management_notice">
  The types of linked objects do not all have the same behaviours. The editor may show unexpected user interface for this attribute, especially with regard to hierarchical fields.
</p>
<% end %>